[2015-10-04 17:51] tngan opened #6 "Support more signing algorithms"
Support RSASHA256, RSASHA512, developer can choose the signing algorithm when configuring the entity. See the following example:

[code]

See more detail in 3f76bf7a98a41e4524cb76b8476ca308bfdb5092, branch v1.1.

[2015-10-04 18:06] tngan opened #7 "Support encrypted assertion in SAML Response"
A new API for encrypt/decrypt assertion in SAML Response will be included in v1.1.

[code]

The flow is typical signature-then-encrypt in IdP and decrypt-then-verify in SP. The following encryption algorithms are included:

[code]
Developers can choose the algorithms when they configure the entity.
[code]

A sample SAML response with signature and encryption
[code]

[2015-10-04 18:17] tngan opened #8 "Improve the readability of README.md"
Some sections will be moved to wiki page.

[2015-10-06 15:44] tngan commented on #8
See the commit 7787694f4cd741d758ec3d84c12d8a4e39a7eff0

[2015-10-07 00:31] tngan commented on #7
See the commit 53ba3ebd0bd4cb63a3375c8c39e24a9079ee4621

[2015-10-07 04:01] #8 closed

[2015-10-07 07:35] #7 closed

[2015-10-07 07:35] #6 closed

[2015-10-08 07:06] tngan opened #10 "Rewrite the module in ES6 syntax"
Use BabelJS as JavaScript compiler to maintain its compatibility and Gulp is added to automate the build process, so keep updating the branch `es6`.

[2015-10-23 17:07] tngan opened #11 "Github page for technical documentation"
Instead of using wiki, a new Github page is under development for technical documentation.

[2015-10-23 17:16] tngan opened #12 "Examples for well-known Entities"
Apart from our own IdP implementation, examples will be included to show how to work with other 3rd party Identity Providers. You can see the list of IdP as follow:

- [ ] Azure Active Directory
- [X] OneLogin
- [X] Okta (support started from v2)
- [ ] Shibboleth
- [ ] SimpleSAMLphp

Inbounded SAML (Examples using express-saml2's IdP)

- [ ] Okta **(In progress)**
- [x] Gitlab #62

[2015-10-23 17:36] tngan opened #13 "API changes"
There are three types of constructor now, I do think it's a good idea to combine those three overloading into one single constructor, include the metadata file path in the object instead of an argument. e.g.

[code]

**Remarks:** According to the semantic versioning 2, it changes the API and not plan to be backward compatibility, that's why it's bumped to v2.0.

[2015-10-28 10:22] tngan commented on #11
See https://tngan.github.io/express-saml2/

[2015-10-28 10:22] #11 closed

[2015-11-06 14:35] tngan opened #14 "Prepare for v1.2"
- [x] Add back the constant module
- [x] Complete the documentation

[2016-01-31 03:53] tngan commented on #10
It's in progress. It will be included in the next release `v1.2`.

[2016-02-08 14:52] #14 closed

[2016-02-10 17:19] tngan opened #16 "[DRY] Code enhancement"
Some old practices should be removed and we don't want to reinvent the wheel.

We will try hard to avoid API change at this stage until [v2.0](https://github.com/tngan/express-saml2/issues/13).

List of proposed features and modifications
+ [ ] Better and precise error messages
+ [ ] Log system
+ [ ] Workflow simplification
+ [ ] ES6 syntax

[2016-02-11 17:13] tngan opened #17 "Integrate with Travis CI"
Add .travis.yml to integrate with Travis CI

[2016-02-12 04:06] tngan commented on #17
See commit 496e7e7c66226fd6a3119a29d18f399f9bbdcf12

[2016-02-12 04:06] #17 closed

[2016-02-15 18:26] tngan commented on #10
This issue is merged with #16.

[2016-02-15 18:26] #10 closed

[2016-02-23 23:16] duane-unitive opened #18 "`undefined` on X509Certificate"
I'm constructing an IDP with settings data. The resulting metadata includes the signing certificate data as expected, but the string `undefined` is appended to the end. This seems incorrect.

[code]

What am I doing wrong?

[2016-02-23 23:35] duane-unitive commented on #18
There is a bug in Utility.js:

`replace('-----END CERTIFICATE-----');`
should be
`replace('-----END CERTIFICATE-----', '')`;

[2016-02-24 00:58] tngan commented on #18
Merged pull request #19

[2016-02-24 00:58] #18 closed

[2016-02-25 18:28] tngan opened #22 "API for adding attributes in IdP module"
Currently, we don't have API to add attributes to the default login response template. If developers want to add attributes in the login response, they need to use their own custom template.
- [ ] Add API code
- [ ] Add documentation
- [ ] Add unit tests

[2016-05-10 12:13] tngan opened #23 "Separate SAML parser to another repository"

[2016-07-04 08:14] tngan opened #24 "Build failed: Verify a XML signature from sample using metadata RSA-SHA1"
https://travis-ci.org/tngan/express-saml2/jobs/142136341

[2016-07-05 04:16] tngan commented on #24
Reference: https://github.com/yaronn/xml-crypto/issues/108
Re-open issue if needed.

[2016-07-24 16:08] tngan opened #25 "Add TypeScript type definition"

[2016-08-15 16:56] tngan commented on #25
Merged with #16

[2016-08-15 16:56] #25 closed

[2016-09-14 03:00] CatBakun opened #26 "Onelogin - Parse logout response: parserType"
Hi there, first of al tnx for the great lib and examples.

Now, I am having an issue trying to do logout, the problem seems to be this line:
https://github.com/tngan/express-saml2/blob/master/lib/Entity.js#L329

that value for parser type is causing this error to be thrown:
https://github.com/tngan/express-saml2/blob/master/lib/Entity.js#L164

because, the only key in requestQuery object is 'SAMLR

[2016-09-14 04:23] tngan commented on #26
@CatBakun What is the `requestQuery` ? Also, you can checkout and try the Onelogin demo repository [here](https://github.com/tngan/express-saml2-examples).

[2016-10-23 17:45] tngan commented on #26
@CatBakun Since it is not updated for at least one month, I will close this issue. Please re-open if it is needed later on.

[2016-10-24 02:55] tngan commented on #16
This issue will be combined with other related issues.

[2016-10-24 02:55] #16 closed

[2016-10-24 02:56] tngan commented on #23
It will be reopened after release v2.0.

[2016-10-24 02:56] #23 closed

[2016-10-24 02:57] tngan commented on #13
It will be the breaking change in v2.0, and it is  confirmed to included in the first release of v2.0.

[2016-10-24 02:57] #13 closed

[2016-10-24 03:01] tngan opened #27 "Roadmap of v2.0-alpha pre-release"
**Current v1.2.5 will be no longer support after v2.0 is released.**

------- **2.0.0-alpha** -------

- [X] Support Yarn package manager (development)
- [X] Support and run tests in Node v6
- [x] Rewrite and refactor the module using TypeScript v2.0
  - [X] Basic configuration (tslint, definitions)
  - [x] Rewrite scripts under lib folder
    - [X] Entity.js
    - [X] SamlLib.js
    - [X] Utility

[2016-12-13 23:07] gswalden opened #29 "Issue with initial run"
I'm having an issue getting v1.2.6 to run on my system, and was hoping the error was familiar enough to allow an easy suggestion. Here are the steps I took:
1. Cloned the repo
2. Ran `npm install` in the main directory, then ran that command again in `examples/idp/`, `examples/sp1/`, and `examples/sp2/`
3. Ran `node app.js` for each of the 3 folders above
4. Successfully logged into http://localho

[2016-12-14 02:02] tngan commented on #29
@gswalden Thanks for your report. Have you run `npm install` in each of example folder ? I have tested with Node v7.2.1 and v6.9.2, and it works properly.

I have updated version of dependencies in example, you can now test with v1.2.7.

[2016-12-14 16:30] gswalden commented on #29
Which OS are you using? I experienced the same error on OS X El Capitan, running v1.2.7. Looking at the code, the error is thrown when the XML signature is being examined, which makes me think something related to the encryption is breaking (which could be OS-dependent).

[2016-12-14 16:33] tngan commented on #29
@gswalden i am running on macOS 10.12

[2016-12-14 17:35] gswalden commented on #29
I was able to get it working if I disabled encryption.

I believe I found the issue with encryption, not sure what the underlying cause is (or if the issue is unique to me). This [`.replace()` fails](https://github.com/tngan/express-saml2/blob/master/lib/SamlLib.js#L476), as the `saml:Assertion` block in `entireXML` is different than what is in the variable `assertion`. [This diff](https://www.dif

[2016-12-14 18:02] tngan commented on #29
@gswalden Would you like to provide the code you have modified in case you have made changes in example folder ? I am happy to help.

Besides, is the same issue replicated when you click `Sign in application 2` after you login to idp ?

[2016-12-22 15:59] gswalden commented on #29
Sorry for the delayed response, here we go:

Replacing ([src](https://github.com/tngan/express-saml2/blob/master/lib/SamlLib.js#L476))
[code]

with
[code]

fixed the issue for me. I'm sure there is a better way to handle this (parsing HTML with regex is generally frowned upon; maybe this function [replaceTagsByValue](https://github.com/tngan/express-saml2/blob/master/lib/SamlLib.js#L269) would be

[2016-12-22 16:42] tngan commented on #29
@gswalden `replaceTagsByValue` is used in when you want to customize the template, and I think `.replace` should be good enough to do the task. What's the result when you run `npm test` without making the above change ?

I have doubled checked your diff above, and `xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion"` is missing in the Assertation section of `entireXML`, and I discovered `xmlns:saml

[2017-01-23 03:33] fredpedro opened #30 "ACS URL undefined when using IdP other than the Onelogin example"
Every IdP I test always return a "No return endpoint available for relying party express-saml2" error. Though I made sure the the AssertionConsumerService tag has an attribute of "Location" pointing to "http://localhost:3000/sso/acs".

[2017-01-23 04:32] tngan commented on #30
@fredpedro Do you need to load any SP metadata into your IdP ? Also make sure it supports localhost access and not https. In fact, it would be good to provide more information and even make a sample repo, so I can help more.

[2017-01-23 05:45] fredpedro commented on #30
Hi @tngan , here is the sample repository based from the application that I am working on. https://github.com/fredpedro/potential-robot. This is an Angular 2 application, but I removed the Angular 2 codes from the "client" folder. Yes, I need to load the SP metadata to our Gluu Server. I also tested the package against testshib.org's IdP but it raised the same error. If our Gluu Server is https en

[2017-01-23 06:17] fredpedro commented on #30
I solved it by placing two AssertionConsumerService attributes, the HTTP-POST and HTTP-Redirect.

[2017-01-23 07:25] tngan commented on #30
Thanks @fredpedro , let me close this issue then.

[2017-01-23 07:25] #30 closed

[2017-01-25 13:13] AlexeySafronov commented on #26
Hi! I have this issue too. I changed parserType value from 'LogoutResponse' to 'SAMLResponse' ('LogoutRequest' to 'SAMLRequest') and everything started to work. Perhaps, OneLogin changed the response template.

My requestQuery is:

Tests on the latest 'SAML Test Connector (IdP w/ attr w/ sign response) ' app templete.

Thanks for your work!

[2017-01-25 14:55] tngan commented on #26
@AlexeySafronov I also find out there is problem in the account management in OneLogin, so the link for OneLogin in sp1 example doesn't work, and it should work properly now.

[2017-01-25 14:55] #26 closed

[2017-01-25 15:17] tngan commented on #26
@AlexeySafronov How do you handle `sso/slo` endpoint ? Are you using SP-initiated Logout or IdP-initiated Logout ?

[2017-01-25 17:47] AlexeySafronov commented on #26
@tngan, according to the description on the [wiki page](https://en.wikipedia.org/wiki/SAML_2.0),  requestQuery must have only SAMLRequest or SAMLResponse string parameter. It is a kind of standard, although I could not find confirmation of this in the RFC. I think that OneLogin just switched to this standard. I hope you can do it.

That i fixed IdP-initiated Logout. I could not find how to do SP-i

[2017-01-26 00:45] tngan commented on #26
@CatBakun @AlexeySafronov Yes, the string parameter should be only SAMLRequest /SAMLResponse instead of LogoutRequest/LogoutResponse, which are the message body but not the query parameter, thank you for pointing out, will update it soon.

[2017-01-26 00:47] tngan opened #31 "Query parameter for SLO should be SAMLRequest/SAMLResponse instead of LogoutRequest/LogoutResponse"
as discussed in #26

[2017-01-26 06:51] AlexeySafronov commented on #31
@tngan, you wrote:

Thanks for quick answer! I still think that query parameter must be SAMLRequest /SAMLResponse too.

I have created a new application in OneLogin (from template ''SAML Test Connector (IdP w/ attr w/ sign response) '') and set up as follows:

![6a17f7712b](https://cloud.githubusercontent.com/assets/8580545/22321913/70eb99f8-e3a9-11e6-86ff-8759e45953bb.jpg)

Then i wrote SP sample

[2017-01-26 09:25] jakobsen9 commented on #31
@tngan Are you able to help out in the Gitter chat?

[2017-01-26 13:29] tngan commented on #31
@jakobsen9 Yes, feel free to leave description there.

[2017-01-26 14:34] tngan commented on #31
@AlexeySafronov really appreciated that you provide a procedure to replicate that issue, you are right, the query parameter is different, once you url decoded -> base64 decoded -> inflate context (SAMLRequest), you will find out the raw xml is

[code]

And the root of xml is `<samlp:LogoutRequest>`, in current version of express-saml2, it assumes the query parameter is same with the name of root x

[2017-01-26 16:50] tngan commented on #31
@AlexeySafronov a patch to this issue is made, feel free to test it

[2017-01-26 16:50] #31 closed

[2017-01-27 07:19] AlexeySafronov commented on #31
@tngan, it's working now! Thanks alot!

[2017-01-30 09:44] AlexeySafronov opened #32 "Invalid SPMetadata result"
Hi! @tngan, I found the problem in metadata method in the code [SPMetadata.js#L98](https://github.com/tngan/express-saml2/blob/master/lib/SPMetadata.js#L98)

Look at this

[code]
I get this
[code]
xml param data is not valid if i try to validate it in [www.samltool.com](https://www.samltool.com/validate_xml.php)

`
Line: 1 | Column: 0  --> Element 'EntityDescriptor': No matching global declaration

[2017-01-30 10:32] tngan commented on #32
http://docs.oasis-open.org/security/saml/Post2.0/sstc-saml1x-metadata-os.html

I think SAML v1 uses that expression.

[2017-01-30 10:48] AlexeySafronov commented on #32
This variant is valid
[code]
and this is valid too

[code]

[2017-01-30 10:52] AlexeySafronov commented on #32
Also i found:

- SingleLogoutService tag must be before NameIDFormat tag
- SingleLogoutService must be only one
- AssertionConsumerService index must be greater then 0

[2017-01-30 11:15] AlexeySafronov commented on #32
This code always return index=0 [SPMetadata.js#L81](https://github.com/tngan/express-saml2/blob/master/lib/SPMetadata.js#L81)

I this this variant is better:

[code]

[2017-01-30 11:37] tngan commented on #32
@AlexeySafronov

+ `SingleLogoutService tag must go before NameIDFormat tag`, it's interesting, actually order in xml node is for faster and easier parsing, i relax this constraint in this module, is it specified in documentation ?
+ SingleLogoutService can be zero or more. Ref P.16 of 43.
+ index can be 0 according to the standard metadata sample. Ref P.25 of 43

Ref is [here](https://docs.oasis-

[2017-01-30 12:12] AlexeySafronov commented on #32
@tngan

I could not find this in specification, but samltool return this
`
Line: 4 | Column: 0  --> Element '{urn:oasis:names:tc:SAML:2.0:metadata}SingleLogoutService': This element is not expected. Expected is one of ( {urn:oasis:names:tc:SAML:2.0:metadata}NameIDFormat, {urn:oasis:names:tc:SAML:2.0:metadata}AssertionConsumerService ).
`

The standard metadata sample Ref P.25 of 43 has this order

[2017-01-30 14:34] tngan commented on #32
@AlexeySafronov I am open to accept any pull request and this change is also fine to me, and currently this module only tests with OneLogin service.

[2017-01-31 06:56] tngan opened #34 "Add test cases for pull request #33"

[2017-01-31 07:01] AlexeySafronov commented on #32
@tngan

I found [onelogin issue](https://github.com/onelogin/php-saml/issues/54) about order. Now I'm trying to use your lib with [shibboleth](https://wiki.shibboleth.net/confluence/display/CONCEPT/MetadataForSP) and there is the order like this

[code]

Thats why samltool does invalidate metadata.

[2017-01-31 07:10] tngan commented on #32
Yes, depending on their xml parser. I think it would be good to make it flexible, then we can customize the order depending on different identity provider, and extend our `getMetadata` method. I will mark it as a feature ticket for this since the roadmap for this library is to support more identity providers.

If not using our metadata generator, the default template can also be customized right n

[2017-01-31 07:20] tngan opened #35 "Customize order of xml nodes in metadata"
As discussed in #32

Example:

[code]

We can also provide some helpers, put sample order list in urn.js.

[code]

[2017-02-03 05:39] tngan opened #38 "Fix travis CI not being triggered with pull request and master commit"

[2017-02-03 06:01] tngan commented on #38
missing `:` in `only` tag, checkout 176d512ce94ccdcee3351c9cbbe8893c68b9fdd0

[2017-02-03 06:01] #38 closed

[2017-02-03 09:20] tngan opened #39 "Wrong encryption leading to unexpected error in decryptAssertion"

[2017-02-03 10:50] #39 closed

[2017-02-03 17:45] sebakerckhof commented on #12
Just a heads up that I verified it works with SimpleSamlPHP. I'm hoping to test Shibboleth next week.

[2017-02-03 17:46] #27 closed

[2017-02-03 17:47] tngan commented on #29
@gswalden Since there is no update for more than one month, I close it and reopen if needed.

[2017-02-03 17:47] #29 closed

[2017-02-03 17:47] sebakerckhof opened #40 "SP triggered Single Logout"
Are there plans to add SP triggered single logout?

[2017-02-03 17:50] tngan commented on #40
@sebakerckhof Yes, however it won't be seen in v1.x.x since alpha version of v2.0.0 is released just few minutes ago, and it would be included in the future plan.

[2017-02-03 17:54] sebakerckhof commented on #40
Okay, I'm currently in the process of selecting a SAML library to integrate in my app. This seems to be the only one that's written decently and actively maintained, so thanks for this.
Would you suggest I try to integrate 1.x.x first or go directly fro 2.0.0 (read: how 'alpha' is the 2.0.0 alpha)? Would it be a lot of work to switch later on or is it mostly backwards compatible?

[2017-02-03 17:57] tngan commented on #40
It's not backward compatible since some APIs will be changed in the future. However, it still takes some time until release, that's why you can try out 1.x.x first.

[2017-02-04 01:34] tngan commented on #24
Hotfix has been made before, reopen issue to fix.

[2017-02-04 02:00] #32 closed

[2017-02-04 02:01] tngan commented on #32
It's closed since patches are made and new thread is created for the related issue.

[2017-02-04 17:41] tngan opened #41 "Roadmap to 2.0.0-beta"
**Current v1.4.1 will be no longer support after v2.0 is released.**

------- **2.0.0-beta** -------

## General

- [x] Revamp unit testing (ava)
- [x] Test coverage (nyc) and coverall report.
- [x] Fix travis trigger
- [x] Gitbook removal (move to docsify)

## Issues

- [x] #13 Code revamping - modify api for entity constructor
- [x] #35 Feature - order in xml parser
- [x] #42 Code revamping - st

[2017-02-05 22:08] sebakerckhof opened #42 "Feature request - allow specifying cer/pem/xml strings instead of files."
Some systems may want to store key & cer files in a database instead of on disk.
It would be useful if we could create IDPs/SPs with parameters like:
`signingCert` \ `encryptCertFile` \ `privateKey` \ `encPrivateKey`
instead of only
`signingCertFile` \ `encryptCertFile` \ `privateKeyFile` \ `encPrivateKeyFile`

Same thing for XML. Now you have to option to pass a file path string, or a config obje

[2017-02-06 00:40] sebakerckhof opened #43 "Follow general callback style"
Although not really a requirement, it's somewhat an unwritten rule for callback signatures to follow `(error, result)`. This makes it easy to use them with flow-control libraries or to transform them into promises with libraries like promisify.

There are several callbacks in this library which do not follow this style, like:
https://github.com/tngan/express-saml2/blob/f5c19bdd3d12d4a6c818dc87eef4

[2017-02-06 01:26] tngan commented on #43
It makes sense, it could apply to every callbacks in this module.

[2017-02-06 01:31] tngan commented on #42
@sebakerckhof What do you mean by xml string of cert/key ? It would be good to provide some examples before we start working on it, just try to make it clear for delivery.

[2017-02-06 02:39] sebakerckhof commented on #43
I can submit a PR for this. I see you added the v1 label to this. This would be a breaking change though, so it might make sense to only do this for v2.

[2017-02-06 02:43] tngan commented on #43
@sebakerckhof Let me remove the tag. Feel free to submit a PR for this, and v2 still takes sometime to verify.

[2017-02-06 02:57] sebakerckhof commented on #42
Well, there's a couple of separate things here.

There's the cert and key files and there's the metadata xml.

Let's take the metadata xml as an example:
Currently you can specify the metadata either as a file path to an xml file or you can give a configuration object which is then transformed to xml in the Metadata subclass (e.g. https://github.com/tngan/express-saml2/blob/master/lib/SPMetadata.j

[2017-02-06 03:00] sebakerckhof commented on #43
Btw, it's not entirely clear to me why some callbacks are there in the first place, e.g.:
https://github.com/tngan/express-saml2/blob/2.0.0-alpha/src/entity.ts#L243

This seems fully synchronous, so can you help me understand why this works with callbacks?

[2017-02-06 03:09] tngan commented on #43
This approach is to relax the rest of the flow to the user, this module aims to compute the essential parts only,  redirect and render work are left to users. In fact, there are no sync process even file reading is in synchronous which is not good enough.

[2017-02-06 03:21] tngan commented on #42
Well, we can simplify the issue to directly import entire context, one more thing is to detect which is xmlstring or filestring before the instance is being instantiated.

I think it could be in v2, right now unless critical bugs are found in v1 and its example, otherwise, all new features and enhancements will not be in v1 anymore.

[2017-02-06 03:29] sebakerckhof commented on #42
I agree this is for v2.

For the detection. Either you just let the developer specify this (e.g. by passing the `isXML` variable around). Or you just leave out the file reading altogether and require the developer to do this. That way the library only accepts XML strings or Config objects.

[2017-02-06 17:38] sebakerckhof commented on #43
Btw, while we're at it and have the chance to modify the API. Do you think it might make sense to replace some of the callbacks with promises instead?

E.g. I think stuff in `libsaml.ts` like `decryptAssertion` and `encryptAssertion` could benefit from having promises, so later on you can use `async`/`await` much easier (basically without breaking BC in a future release)

[2017-02-06 17:43] tngan commented on #43
Yes, that's included in my plan for code revamping after the first step (migrating to typescript) is settled, we can benefit on using async/await directly with typescript. I will open a new thread for code revamping, and we can continue our discussion there.

[2017-02-06 17:45] tngan opened #45 "Code revamping discussion"
**Approved part for code revamping**

- [x] Enhancement for import method of cert/key (#42)
- [x] Standardized callback style (#43)
- [x] Promisify some async processes
- [x] Review of name convention
- [x] Use tslint to do code linting and make git pre-push hook

**Continuous improvement**

- New class for normalizing error and propagate to end users
- Group function arguments as one single objec

[2017-02-06 17:48] sebakerckhof commented on #43
Okay, I'll close this issue to continue in the general thread.

[2017-02-06 17:48] #43 closed

[2017-02-06 17:54] sebakerckhof commented on #45
Okay, So 3 proposals on which I could work:
1) Change some of the callbacks to promises where it makes sense, so they can be `awaited` on by babel/typescript users.
2) Convert the remaining callbacks to follow the (error,result) style
3) Don't let the library handle cert/pem/xml files, instead allow passing in the contents directly to allow more flexibility for the library user.

[2017-02-06 17:58] tngan commented on #45
@sebakerckhof I have added you to be the collaborator.

[2017-02-06 18:00] sebakerckhof commented on #45
Cool. Are you okay on all 3 proposals? If so, I'll create a different branch for each of them. Tackling them one by one in the order they're listed above.

[2017-02-06 18:01] tngan commented on #45
Yep, please go ahead. Thanks for your collaboration.

[2017-02-06 18:02] tngan commented on #42
Let me close this thread and move to the general one.

[2017-02-06 18:02] #42 closed

[2017-02-06 19:01] sebakerckhof commented on #45
Btw, I also think some method names are misleading.
E.g.: sendLoginRequest doesn't actually send anything. It only creates a request or url. This was somewhat confusing to me.

[2017-02-07 01:30] tngan commented on #45
@sebakerckhof We should tackle the name convention, even for variables before releasing v2, I will take care of it.

[2017-02-07 01:34] tngan opened #46 "Rewriting idp and sp1 example with vue.js"
Currently, the sample entities are using default express application, we are considering to revamp it using Vue or React, here is the discussion thread.

The design is to separate the frontend view and backend services and use API to control the state and intermediate redirections. Service Provider will allow dynamic configuration, in other words, users can customise which identity provider is bei

[2017-02-08 01:52] sebakerckhof commented on #46
1 vote for Vue. Mainly because it doesn't require so much tooling & setup like react.

[2017-02-08 02:25] tngan commented on #46
I hope to keep the example light-weight. Currently, I am using React+Mobx, and Vue is nearly identical to it and with a easy, configurable client to kickstart a new project (https://github.com/vuejs/vue-cli).

[2017-02-08 03:01] sebakerckhof commented on #45
There are no asynchronous callbacks left since the promise-effort. So I checked that one off too.

[2017-02-09 03:43] sebakerckhof commented on #46
Btw, I would leave one SP as-is. So you have an example of both a SPA and an example of a traditional server-rendered app.

[2017-02-09 03:52] sebakerckhof opened #50 "Expose request/response ID"
On single page applications (e.g. if we want this: https://github.com/tngan/express-saml2/issues/46 ) it is common to do the single sign on in a pop-up window, so the user doesn't leave the SPA and the page doesn't refresh when the user is logged in.

The way this works is usually pretty hacky, but afraid this is the common way of doing this:
1) Create a unique ID on the client
2) Open a pop-up wi

[2017-02-09 04:20] tngan commented on #46
I would like put this right after the code revamping tasks are finished.

[2017-02-09 05:43] tngan opened #51 "Should we support Node-LTS version only ?"
https://github.com/nodejs/LTS

[2017-02-09 14:45] tngan commented on #51
It's recommended to use LTS version at anytime. New semver-major releases of Node.js are cut from master every six months.

Some decisions are drawn from the above specification.

+ express-saml2 will support the latest odd number of versions (non-LTS), it is v7 right now, even though it only has 6 months to go until the successive even number release is cut, we will add extra 6 months for migrati

[2017-02-17 20:10] sebakerckhof commented on #45
@tngan Is there any progress regarding the grouping and/or renaming of functions and their parameters?

If not yet, could I make a proposal in the form of a new branch with just changed method names/signatures. But not yet their implementation. Then you could give feedback on a pull request before we decide on the final ones and refactor the implementation. Or do you rather want to do this yoursel

[2017-02-18 17:18] tngan commented on #45
You can make the proposal for that, right now I am in vacation and working on the unit testing (with ava, some commits break the previous test cases but not that serious). By the way, the travis testing pipeline is already fixed so every pull requests will run once in travis before merge.

[2017-02-19 10:43] tngan commented on #45
@sebakerckhof The test is ready. The last commit has passed all 59 tests so far we have.

[2017-02-20 01:37] #51 closed

[2017-02-20 02:24] #34 closed

[2017-02-24 04:28] tngan commented on #24
FYI: SHA1 collision has been found, consider to warn with this setting.

https://security.googleblog.com/2017/02/announcing-first-sha1-collision.html

[2017-02-24 18:15] #24 closed

[2017-02-27 12:44] Guuz opened #54 "verifyTime is not used nor documented"
Hello,

I thought this lib would check the `notBefore` and `notOnOrAfter` fields. There's a function called `verifyTime` that does this. Though this function is never used anywhere. Neither is there documentation about how to use it yourself.

I have done the following (which seems to work):

[code]

[2017-02-27 13:15] tngan commented on #54
@Guuz This function is exposed to both idp and sp instance (in fact, the time conditions are optional in document [P.21](https://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf), the `parseLoginResponse` is a helper function to handle the xml document, and leave this option to developers.

I think it would be good to include before the callback is invoked, once the message has time con

[2017-03-05 21:28] yesvivek commented on #12
I have trouble integrating with Okta when Okta acts as SP -  It needs AuthnStatement and some other issues am yet to understand since am new to SAML.
From Okta error log:  The recipient specified in the SubjectConfirmation did not match our service provider entity id. Found "{0}", expected "{1}"

Our code sends right entityId and still it fails. I tried with ACS URL too and it still failed. Any he

[2017-03-06 02:58] tngan commented on #12
@yesvivek I think Okta should be an identity provider instead of service provider. The SubjectConfirmation ([P.18-19 in doc](https://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf)) should be something look like,

[code]

and in your use case, the recipient is same as your entity identifier ([P.79 in doc](https://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf)) which is c

[2017-03-06 05:36] yesvivek commented on #12
@tngan I understand Okta is popularly used as IdP entity but here am attempting to use express-saml2 as Identity Provider and making clould entities like Okta to talk to it and get authenticated - Okta supports this.
There is confusion in Recipient attribute, either be ACS URL or SP-EntityID - express-saml2 uses entityID for Recipient.
`PostBinding.js:99 SubjectRecipient: spEntityID,`
But the stan

[2017-03-06 07:07] tngan commented on #12
That's interesting. Meanwhile, you can override the default method and use your own template.

https://github.com/tngan/express-saml2/blob/783847d786391c6d0117574d4ee04c893eee6c20/lib/PostBinding.js#L86

However, the mismatch looks like `From Okta error log: The recipient specified in the SubjectConfirmation did not match our service provider entity id. Found "{0}", expected "{1}"`

Can you check

[2017-03-06 07:16] yesvivek commented on #12
@tngan , I have gotten past that Recipient issue by setting it as ACS URL. I need to explore the template option of express-saml2. Befre that, am facing cert errors reported by Okta - It says

I have used following command to generate cert and keys.
`openssl req -newkey rsa:2048 -new -x509 -days 3650 -keyout key.pem -out cert.pem`
and provided the `privateKeyFile` as key.pem and `signingCertFile`

[2017-03-06 07:18] tngan opened #55 "Confusion in recipient attribute"
As discussed in #12

Depending on different implementations, and it's optional in documentation [P.18-19 in doc](https://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf).

[code]

So should be reconfigured to the ACS URL by default instead of the entity identifier.

[2017-03-06 07:29] tngan commented on #12
I have you may have to set the correct signature algorithms when you configure the application in Okta.

![image](https://cloud.githubusercontent.com/assets/10245912/23600438/ecd2c4d4-0289-11e7-8b03-25d418f18100.png)

[2017-03-06 07:51] yesvivek commented on #12
@tngan the above screenshot is used for configuring express-saml2 as SP and Okta as IdP, but am using express-saml2 as IdP and Okta as SP - please refer this link [https://support.okta.com/help/Documentation/Knowledge_Article/40561903-Configuring-Inbound-SAML](https://support.okta.com/help/Documentation/Knowledge_Article/40561903-Configuring-Inbound-SAML). There is no option at Okta to specify any

[2017-03-06 08:14] tngan commented on #12
Alright, I just wonder SP should have similar configuration to handle the response from IdP. When you setup an inbound SAML, the documentation mentions that you have to add an Idp, can you configure something like that in Okta ?

![image](https://cloud.githubusercontent.com/assets/10245912/23601711/32c3e33c-0290-11e7-9be5-587edc1b06ef.png)

[2017-03-06 08:21] yesvivek commented on #12
We can give only basic data about IdP to Okta. Attaching the screenshot from Okta Inbound Saml page,
![okta-snap](https://cloud.githubusercontent.com/assets/3646970/23601927/f7eeeed0-0273-11e7-832e-ad5ed4159db3.png)

[2017-03-06 11:26] yesvivek commented on #12
@tngan I can share you my nodejs code and steps to create okta-dev account so that you could do your magic to sort this?

[2017-03-06 11:50] tngan commented on #12
@yesvivek Remember to hide all sensitive information before you post here.

[2017-03-06 15:04] yesvivek commented on #12
@tngan, giving you steps to create life-long free Okta-developer account. Have attached the NodeJS code am using - little altered for publishing. [express_saml2_idp.txt](https://github.com/tngan/express-saml2/files/821511/express_saml2_idp.txt)

1) Visit `https://www.okta.com/developer/signup` to create Okta dev account
2) After creating & verifying acccount, login and goto **Admin** console.
3) O

[2017-03-07 06:30] tngan commented on #12
@yesvivek I will try to make an inbound saml example within this week.

[2017-03-07 18:29] tngan opened #56 "Customization of AttributeStatement in template"
Even though a callback function is exposed, allowing users to customize their own template and dynamically fill in during runtime, we could also provide a better way to handle the attribute mapping.

https://github.com/tngan/express-saml2/blob/783847d786391c6d0117574d4ee04c893eee6c20/lib/PostBinding.js#L111-L112

## Proposal

When the entity is being constructed, make the customized template prope

[2017-03-08 18:05] tngan commented on #12
@yesvivek  An update for the example of inbound saml. Instead of adding endpoint, I've added the Identity Provider (**Security -> Identity Provider**) and matched the algorithm selected in express-saml2. However, I got the error `user.authentication.auth_via_IDP`, I have made a support request to Okta developer team to figure out what problem it is.

It is an assertion error and I do think the sig

[2017-03-10 19:20] tngan commented on #12
@yesvivek Keep things updated. I have scheduled a call with the dev team next week. I will also create an example of using Okta as IdP and try to work out the solution of inbound saml again.

There is a fork repo of express-saml2, they implement a way to and you may want to check it out. I hope it can be integrated in this module later on. I am open to any pull request. (#56)

https://github.com/n

[2017-03-12 18:17] tngan commented on #12
Example for Okta as Identity Provider is created in sp1 of branch 2.0.0-alpha. When localhost:4002 is accessed, press `Login via Okta` button then enter the credential for Okta account. After that, you are supposed to get login. The step-by-step Okta configuration will be included in documentation very soon.

Email: exprsaml2@gmail.com
Password: **oktaEsaml2**

![image](https://cloud.githubusercon

[2017-03-13 04:29] tngan commented on #22
Duplicated with #56

[2017-03-13 04:29] #22 closed

[2017-03-20 17:41] tngan commented on #12
Some updates on the inbound saml.

Okta requires at least four attributes for authentication, firstName, lastName, login and the email, that's one of the reasons why I got 400 last time.

[2017-03-21 05:27] yesvivek commented on #12
Thanks for your follow ups, Ngan.. I have made it to work with node-samlp
without any of these attributes. Just sending email-ID as NameID was enough
there.

On Mon, Mar 20, 2017 at 11:11 PM, Tony Ngan <notifications@github.com>
wrote:

[2017-03-21 05:51] tngan commented on #12
@yesvivek Thanks for your update. Would you like to post the sample saml response sent by the idp there ?

[2017-03-21 07:18] yesvivek commented on #12
@tngan have sent 1-1 mail to your personal mailID.

[2017-03-22 14:11] dedpnd opened #57 "Not working example sp2"
Hi!
When trying to log in with es2-IdP to sp2, get this error:
![image](https://cloud.githubusercontent.com/assets/18037236/24201385/eea63cca-0f20-11e7-9ed3-558caf19499b.png)
With SP1 everything is good.

[2017-03-22 17:54] tngan commented on #57
@dedpnd Thanks for your report. It's because of incorrect passphrase to open the protected private key file and incorrect certificate in metadata of sp2.

[2017-03-22 19:01] tngan commented on #57
@dedpnd Feel free to clone this repo and test it again.

[2017-03-23 01:02] #57 closed

[2017-03-24 10:09] #54 closed

[2017-03-25 15:49] #55 closed

[2017-03-25 18:40] #56 closed

[2017-04-04 18:18] danscrima opened #58 "Confused about ipd1 vs idp2..?"
I'm certainly not an expert in saml, but I'm trying to understand your full example and I'm confused why there's a different idp1 vs idp2? Those instances are both set to the same configuration, why are both required and what might the actual difference be in how they're used.. Thanks!

[2017-04-04 18:34] tngan commented on #58
@danscrima Thanks for your question. They are two separate identity providers. In fact, the entity can be described by using metadata, idp1 uses `metadata_idp1.xml` whereas idp2 uses `metadata_idp2.xml`, and they have different service endpoints.

We need additional configurations for full features, for example, we need private key to sign the request/response, the key file may have passphrase. Ho

[2017-04-05 13:46] danscrima commented on #58
Ok great, thanks very much for the clarification, I appreciate it! This is such great work and will help us out a lot! Cheers.

[2017-04-05 13:46] #58 closed

[2017-04-05 13:56] tngan commented on #58
@danscrima Good to know. This module is now being revamped, we will announce v2 before the middle of May (alpha is released last month). If you like this module, feel free to be your stargazer.

[2017-04-07 19:23] #35 closed

[2017-04-11 17:49] sebakerckhof commented on #50
@tngan Is this still something that can go in v2 ?

[2017-04-11 18:01] tngan commented on #50
@sebakerckhof Not really, i prefer to hold it first, i am now working on the vue.js application, I will release some parts by the end of next week. During the meantime, would you like to take a look about the inbound saml in Okta if you have time ? :)

[2017-04-11 18:01] tngan commented on #50
@sebakerckhof Not really, i prefer to hold it first, i am now working on the vue.js application, I will release some parts by the end of next week. During the meantime, would you like to take a look about the inbound saml in Okta if you have time ? :)

[2017-04-11 18:02] sebakerckhof commented on #50
I could take a look. However, why I think this might be important to get in v2 is that it's a potentially API breaking change for a quite common use case. So that would mean if it's not in 2.0 it would have to wait until the next major release...

[2017-04-11 18:04] tngan commented on #50
@sebakerckhof Yes, it makes sense, I will take a look into it very soon and keep you posted.

[2017-04-11 18:09] tngan commented on #12
@sebakerckhof The discussion of inbound saml of okta is here, and we can add attributes when our IdP handles the SAML response right now #56  (the commits are already in the alpha branch).

[2017-04-18 15:11] sebakerckhof commented on #12
Okay, I had some time today to set up an okta account.
If I try to log in using express-saml2 idp I end up with a `400 bad request` error at the assertion consumer url from the Okta SP. Is that the same thing you guys are seeing?

The problem now is that it seems I have locked myself out of my account, since if I want to log in (to see the system error log reports in okta), I have to log in using

[2017-04-18 15:22] tngan commented on #12
@sebakerckhof Would you like to send your email to exprsaml2@gmail.com ? I would like to open an admin account for you in okta first.

Yes, I experienced 400 bad request even though I added firstname, lastname, login name and email. I followed this [tutorial](https://support.okta.com/help/Documentation/Knowledge_Article/40561903-Configuring-Inbound-SAML) to set up inbound SAML.

[2017-04-18 15:47] sebakerckhof commented on #50
I guess we could do 2 things here:
1) Extract and return the ID generated by the createLoginResponse/createLoginRequest functions
OR
2) we could let the user pass an ID in those functions (instead of the `generateID` functions of the entity. What do you think would be best?

[2017-05-03 02:00] grod-uy opened #60 "Getting undefined on line 148 on file SPmetadata.js"
Hi when i define my sp like this:
[code]
im getting my assertionconsumerservice undefined, i think is because i think is because the line 148 returns false.

[2017-05-03 02:22] tngan commented on #60
@grod-uy

Firstly, your binding should be either `urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST` or `urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect` instead of `urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified`.

[code]

[2017-05-07 19:53] mikevbaker opened #61 "Getting help using the library"
Sorry to use this space to ask for help - I couldn't find any other way to contact.
I've been given the task of adding SAML support to a static website (serverless JavaScript Angular app) and I'm trying to figure out if your library will do the job.
I downloaded the code and looked in the examples for places with require('express-saml2') as shown in the readme, but I can't find any. I've been goin

[2017-05-08 02:05] tngan commented on #61
Basically, there are two ways to accomplish SSO, I think what you are talking about is SP-initiated, in other words, you can click a button or directly redirect to IDP login panel if no user is logged in.

Then IDP will authenticate that user and send back a response to your application endpoint, say /acs, your app will create session for that user if the response is valid. Is that what you are lo

[2017-05-08 04:10] mikevbaker commented on #61
Yes, sorry I forgot to mention SP-initiated is what I'm looking for. I need to redirect to the IdP's login page. The login page accepts the SP endpoint in the querystring. i.e.
`https://idpdomain.com/pkmscdsso?https://resourcedomain.com/`
(after login it gets redirected to SP default document)

There currently is no backend to the site. All the content is hard coded into JS using JSON files that a

[2017-05-08 12:32] tngan commented on #61
I haven't tried to apply this module in serverless architecture, but I still think it's doable. The /acs endpoint would accept the POST SAML response, so IdP will send back a form including the SAML response to SP.

[2017-05-08 14:26] mikevbaker commented on #61
That is my hope. This bring me back around to the first question... is there a sample that uses the lib in the manner described in the readme where the saml object is created with `var saml = require('express-saml')` and then used by something like `saml.ServiceProvider.sendLoginRequest(saml.IdentityProvider, 'redirect', function....`
I'll be giving it a try today and I'll let you know how things

[2017-05-08 14:31] tngan commented on #61
@mikevbaker This is the example for SP-initiated SSO with redirect binding.

https://github.com/tngan/express-saml2/blob/master/examples/sp1/routes/sso.js#L86-L90

[2017-05-08 14:50] mikevbaker commented on #61
Thanks @tngan that's the spot where I was looking, there's a similar spot in SP2.
We're not using express, I don't have a router. But I understand that the `sp` object there is the ServiceProvider so I think I can adapt. Luckily the original author of the site has some time today and he's going to look at it with me. I'll let you know how it goes.

Thanks,
Mike

[2017-05-09 04:38] manu-silicon opened #62 "Guidance on certificate"
I've been successful at running the samples and I'm trying to setup my own identity provider in node.js/express/express-saml2 and I'm testing it against a locally run instance of gitlab community. Trying naively, it almost works as from gitlab I can go to my identity provider, login and post the response. But then gitlab reply with:

```Could not authenticate you from SAML because "Found an unexpe

[2017-05-09 15:12] tngan commented on #62
@manu-silicon Thank you so much for your valuable feedback.

The signing/encryption key can be generated using the following commands.

[code]

If you are using 3rd party identity provider like OneLogin and Okta, the IdP metadata is allowed for you to download instead of creating manually. In this module, a helper function allows you to export the metadata after you have constructed the entity [(S

[2017-05-10 04:52] manu-silicon commented on #62
Thanks for getting back to me and the command line for generating the signing and encryption key. I've taken care of that.

I'm trying to build my own IdP so I'm testing the gitlab as a service provider and I'm following the gitlab instructions to enable SAML.

Gitlab provides me with the following metadata file:
[code]
and my Idp metadata is:

[code]
I've captured the SAML request and response us

[2017-05-10 12:51] tngan commented on #62
Apparently the error is not caused by he request but response, so changing the `wantAuthnRequestSigned` is not workable.

In our IdP, signing of assertion is determined by the pairwise SP setting. `WantAssertionsSigned` should be defined in the SP metadata or set `wantAssertionSigned` as true in the SP setting object when you construct your SP.

For login SP, the user information for example the e

[2017-05-10 13:41] tngan commented on #62
@manu-silicon However, the SP metadata states that `AuthnRequestsSigned='false'` and `WantAssertionsSigned='false'`, so the unsigned request is fine and the response is supposed to be not signed as well.

It's interesting, so I am considering to open a new ticket for Gitlab example.

[2017-05-10 14:21] manu-silicon commented on #62
Is there anything I can do to help in this case?

[2017-05-10 14:29] tngan commented on #62
@manu-silicon Would you like to share how you setup your Gitlab server, following this [tutorial](https://docs.gitlab.com/ee/integration/saml.html) ?

[2017-05-10 14:39] manu-silicon commented on #62
I've followed this tutorial to the letter. The only difference is that my idp_cert_fingerprint. For that I put the one I got from the signing key.

[2017-05-10 14:41] manu-silicon commented on #62
To be complete, here is what I have:

[code]

[2017-05-10 15:08] tngan commented on #62
@manu-silicon In fact, how do you obtain the `idp_cert_fingerprint` ?

[2017-05-10 15:26] manu-silicon commented on #62
I used the cert from the signing key on the IdP and then got the SHA1 of that. I used `cat cert | openssl -sha1`.

Manu

________________________________
From: Tony Ngan <notifications@github.com>
Sent: Wednesday, May 10, 2017 8:08:37 AM
To: tngan/express-saml2
Cc: Manu; Mention
Subject: Re: [tngan/express-saml2] Guidance on certificate (#62)

@manu-silicon<https://github.com/manu-silicon> In fact

[2017-05-10 16:21] tngan commented on #62
@manu-silicon Nice, I will keep you posted in this thread so don't close this issue.

[2017-05-10 16:22] tngan commented on #60
@grod-uy I will close this issue first, please reopen it if you have further questions.

[2017-05-10 16:22] #60 closed

[2017-05-11 04:16] manu-silicon commented on #62
I also tried this to get the idp_cert_fingerprint:
```openssl x509 -noout -fingerprint -sha1 -inform pem -in signing.crt```

On the gitlab side, it is also not clear which certification you are supposed to use. I tried, the https one, the signing or the encryption crt and non seems to have an effect.

[2017-05-11 10:00] tngan commented on #62
Yes, I am going to test the SAML approach using dockerize gitlab within this week, not sure if it restricts to https.

[2017-05-13 06:32] tngan commented on #62
@manu-silicon Let me close this issue first, I will update the progress in the thread #12 within today.

[2017-05-13 06:32] #62 closed

[2017-05-13 11:56] tngan commented on #12
As discussed in #62, here is the configuration for setting gitlab saml.

### Remember to configure file sharing

[code]

### Setup redis

[code]

### Running gitlab in container

[code]

### Get fingerprint (This is another way I found)

openssl x509 -in ./key/idp/cert.cer -sha1 -noout -fingerprint

### Get metadata from gitlab

`http://localhost:10080/users/auth/saml/metadata`

remember to modify

[2017-05-13 11:58] tngan commented on #62
@manu-silicon I have made some progress in it, hopefully it can be resolved soon. You can checkout here. #12

[2017-05-13 19:14] tngan commented on #12
The metadata from Gitlab specified that it doesn't want the assertion to be signed, so the message related to invalid number of signed elements seems not possible. A ticket is issued to the repo. ruby-saml.

[2017-05-14 04:07] tngan commented on #12
The issue is filed here. https://github.com/onelogin/ruby-saml/issues/395

[2017-05-14 15:53] tngan opened #63 "Add the root as part of response signing"
This is a feature for the Identity Provider, right now it only signs the assertion part but not provide an option to sign the entire message.

- [x] v1
- [x] v2

[2017-05-15 17:06] manu-silicon commented on #12
Sounds like we are making progress. Thanks!

[2017-05-15 17:13] tngan commented on #12
@manu-silicon I have successfully made it, the example will be pushed very soon.

[2017-05-15 17:41] tngan opened #64 "Add wantMessageSigned into the setting of service provider"
Following the standard, three conditions will be added to make sure the response must be signed.

* `wantMessageSigned` is true + `wantAssertionSigned` is true
* `wantAssertionSigned` is true (if false, entire message is signed)

default `wantMessageSigned` could be false

[2017-05-15 18:18] tngan commented on #12
@manu-silicon

You can find the example in `examples/idp-gitlab`, following the above setup and run `npm start`, couple things are modified in the current build.

* Relocate the message signature from after the assertion to the issuer.
* Prefix `ds` is added into signature, key info and certificate section

Remember to activate the SAML connector in your account tab (Profile -> Settings -> Account

[2017-05-15 18:24] manu-silicon commented on #12
Thanks. I'll check it and report shortly.

[2017-05-15 18:25] #45 closed

[2017-05-15 18:26] #41 closed

[2017-05-15 18:39] tngan opened #65 "Roadmap to 2.0.0-release"
**Issues**

- [x] #50 Expose request ID and response ID for SPA (Another API break)
- [x] #66 Fix typo
- [x] #67 Fix the NameIDFormat replacement in redirect binding
- [x] #68 Handling extra query parameters in binding location
- [x] #69 Generic replacement of tags

**Documentation**

- [x] Review (including #70)

**Enhancements**

- [x] #64 Add trigger for signing entired message
- [x] #63 Option

[2017-05-16 06:40] manu-silicon commented on #12
I checked and although it doesn't complain anymore after login through my IdP I'm still not logged in on the gitlab side. I'll double check my settings tomorrow.

[2017-05-16 09:24] sebakerckhof commented on #50
@tngan I finally have some time again to work on this. I'd like to tackle this issue, do you have a preference (or alternative) regarding the options listed above?

[2017-05-16 14:43] vbakke opened #66 "HTTP-Artifact is misspelled as Arifact"
The Artifact binding has a speling mistake, missing the T. Both in URN and binding property.

[2017-05-16 15:00] vbakke opened #67 "NameIDFormat incorrectly replaced"
In RedirectBinding.js, loginRequestRedirectURL() the replace for NameIDFormat is:

NameIDFormat: namespace.format[spSetting.logoutNameIDFormat] || namespace.format.emailAddress,

Is spSetting.logoutNameIDFormat the correct attribute?

[2017-05-16 19:28] manu-silicon commented on #12
Finally made it work. Thanks @tngan. Will you update the npm package soon?
Quick question about the certificates: should I be using self-signed certificates?

[2017-05-16 19:58] tngan commented on #12
For poc and testing, you can use self-signed certificate, but I don't recommend you use self-signed one in production, and some identity providers even don't allow self-signed certificate.

[2017-05-16 20:13] tngan commented on #50
I think passed-in function is good enough and right now the default ID is generated independent with time (uuid, v4).

[2017-05-16 20:16] sebakerckhof commented on #50
Can you explain how the use case described in the first post would bd able to achieve this way?

[2017-05-17 14:57] sebakerckhof commented on #50
Because this has nothing to do with security of the ID or which algorithm it uses. It's just that the callee needs to know the ID in order to link them to be able to support the popup-login use case.

[2017-05-17 16:24] tngan commented on #50
The current design of the application driven by vue.js is to separate the front and backend. The workflow of client-side SSO is somehow like:

1. User clicks the button in SP, acutally it might not be a popup window, it can be a dialog embedded in SP, forwarding an ajax request with login request to the IdP, put the IdP login panel directly in SP as well.
2. Once IdP verifies and response a json t

[2017-05-17 16:30] tngan commented on #67
@vbakke Good catch, it should be `loginNameIDFormat`.

[2017-05-17 17:41] #67 closed

[2017-05-17 17:41] #66 closed

[2017-05-18 12:23] sebakerckhof commented on #50
About step 1: The reason I'm saying a popup is because it's the most general case. Dialog windows depend on the UI framework you use. So if i want to make a general SAML plugin for a certain framework (e.g. vue or angular), I'd be doing it in a popup.

However, It's not clear to me where you'd have an ajax request. If you'd do it with a dialog, the request url would be shown in an iframe. So where

[2017-05-18 17:05] tngan commented on #50
Step 1. Nice, I have no doubt to use a popup right now, it seems to be a common practice after I have done some researches.

After I rethink the process, the following includes some modifications based on your initial proposed solution.

+ SP called an API to get a pre-session ID (psID) issued from IdP (psID is generated by using the secret key when register that app in IdP), I think it's better t

[2017-05-19 09:16] sebakerckhof commented on #50
Okay, That flow seems good, but when you say `SP called an API to get a pre-session ID (psID) `.
Is that something that's widely supported by Idp's?

[2017-05-19 16:22] tngan commented on #50
I don't think so, it's just a workaround. Generate an ID from the IdP is better than allowing user to generate their own ID, I think that ID should have a specific format instead of an arbitrary pattern, and it's much easier to do tracking, because IdP cannot just wait for the SP to send it and always accept a random ID from an unknown SP before SAML protocol is actually carried out.

[2017-05-19 16:48] sebakerckhof commented on #50
Okay, I'm confused.
We are talking about SP-initiated login, right?
And the ID is this one: https://github.com/tngan/express-saml2/blob/2.0.0-beta/src/binding-redirect.ts#L72 right?
If you say user, do you mean the developer using our library or somebody who wants to log in?
If I understand correctly, this would mean every IDP you want to integrate with has to implement this?

[2017-05-19 16:57] tngan commented on #50
I wonder you are talking about the unique ID in step 1, isn't it ? The generateID function is used to customize the SAML request ID format, and that's it. That unique ID in step 1 is not related to the SAML workflow, it's just a workaround to handle SSO in SPA since all SAML workflow will be done inside the popup window, and we have to find a way to acknowledge SP the session is ready once the pop

[2017-05-19 18:03] sebakerckhof commented on #50
No, I'm talking about the ID in step 3 (in the opening post here).

So there are 2 ID's generated:
A) the one in step 1 (of the opening post) is generated on the client-side of the SP, this is, like you state, just to check if the popup closes if the login has succeeded. This is never send to the IDP and is not part of the SAML flow.

B) the one in step 3 (of the opening post), this is the one sen

[2017-05-20 04:04] tngan commented on #50
I get your point, thanks for clarification, some follow-up questions:

#### For the matching part

To expose the generated ID and response ID, it's not that hard to do that and not related to the generateID itself, just add the ID into callback, and you are right, it will not be backward compatible since the return context of `sendLoginRequest` will get changed in redirect binding (the return cont

[2017-05-20 18:07] sebakerckhof commented on #50
Yes, so the popup would open the login route of the SP (let's say `/spinitsso-redirect`, like in the current examples) and the unique id would be passed with it, for example as a query variable

Yes, 3 things are important for handling these unique ids securely:
1. They should have enough entropy, to avoid brute force attacks
2. The unique id should be removed after the client asks for the login r

[2017-05-22 21:15] ekosz opened #68 "sendLoginRequest creates invalid URL when SSO url contains a query"
When a SSO url contains a query like Google's SSO Urls:

[code]

This library generates an invalid url:

[code]

*Notice the two ? in the url*

To get around this we wrote the code:

[code]

But it would be great for this library to handle this corner case rather than hack around it in userland.

Thanks!

[2017-05-23 01:02] tngan commented on #68
@ekosz Thanks for your feedback, will handle it later on.

[2017-05-23 18:23] vbakke opened #69 "<EncryptedAssertion> is not replaced correctly"
In SamlLib.js, the function decryptAssertion(type, here, from, entireXML, callback) fails replacing <saml:EncryptedAssertion>, if the element contains any attributes, e.g. namespace attributes, such as this real life case:

My case was solved by changing:

with a reg exp search:

However, doing text matches on XML with namespaces is not robust, because the prefix could just as well have been:

[2017-05-23 18:43] tngan commented on #69
@vbakke Nice catch, there is another issue similar to this one in encryptAssertion. By the way, it would be good if you can make pull request, I am always appreciated that. :)

[2017-05-23 19:08] vbakke commented on #69
Ok, I'll try. At least bigger changes.
One liners might be easier to do without the extra branches, merges and pulling. :)

[2017-05-23 20:02] vbakke opened #70 "Decrypt Assertion, mismatch?"
I guess this is more of a question, than anything else.  It might be a bug, the documentation might need some clarification, or I've just doen something wrong. :)

### Service Provider settings (my side)
After an SP initiated AuthnRequest, I receive an Encrypted SamlResponse.  It has been encrypted by the IdP using the my public key, which was included in my metadatafile. That is:
[code]

### Iden

[2017-05-23 20:47] vbakke commented on #50
Just a side comment:
The IDs cannot start with a digit!

At least https://www.samltool.com/validate_xml.php invalidates the ID if it does, of a few forum posts mention this (e.g. https://stackoverflow.com/questions/5076675/saml-authentication-request-protocol-id)

[2017-05-23 20:55] sebakerckhof commented on #50
Good catch, we'll probably want to change this when we tackle this issue.

[2017-05-24 00:34] tngan commented on #70
For response signature, IdP uses it's private key to sign the response and SP uses IdP's cert to verify the signature.

For response encryption, IdP uses SP's cert for encryption to encrypt the response and SP uses SP's encryption private key to decrypt it.

This part of documentation has problem, the `encPrivateKeyFile` and `encPrivateKeyFilePass` should be set in SP's construction instead of IdP

[2017-05-24 17:36] vbakke commented on #70
Brilliant! Thank you! Then I will do accordingly in my project, so that I don't get a surprise when we upgrade. :)

[2017-05-24 19:23] vbakke opened #71 "Invalid signature after decrypting SamlAssertion"
Sorry, me again. :) But this time I don't have a suggested solution.  :-/

I receive an encrypted SamlResponse, that [SamlTool validates](https://www.samltool.com/validate_response.php) as OK, given the IdP certificate, and my private key.
However, it does not validate the decrypted file.

When SamTool decrypts the file, I get a slightly different result, then when I decrypt with express-saml2.

T

[2017-05-24 19:49] vbakke commented on #71
Feel free to look at my test data. (It contains only test certificates and keys, but I don't see any reason for uploading these to GitHub.

https://www.dropbox.com/s/nhjakgxka1ss2x9/express-saml2-verification.zip?dl=0

Please notify me if you download the ZIP-file, and I will remove the file from Dropbox.

Regards,
Vegard :)

[2017-05-25 01:10] tngan commented on #70
@vbakke Let me close this issue first. Re-open if needed.

[2017-05-25 01:10] #70 closed

[2017-05-25 01:14] tngan commented on #71
@vbakke Make sure it's for testing use only. I have crossed out the link in your comment after I have downloaded.

[2017-05-25 19:48] vbakke commented on #71
Thank you. I know. It is only now for development. Even the test environment will have different keys when we get the SAML integration working. :)

[2017-05-31 09:43] sebakerckhof commented on #50
@tngan Just to have a better starting point for further discussion I created this branch:
https://github.com/tngan/express-saml2/commits/feat/expose-ids

With a very quick & dirty commit to show what would be needed for logins. Absolutely open to discuss this, but I'm ready to implement SAML SP in my SPA and I'm going to do something quick & dirty until a proper fix lands. Good news is we have a l

[2017-05-31 19:05] tngan commented on #50
@sebakerckhof Please checkout 	5945df4. That id could be already exposed in request/response in both login and logout with redirect or post binding.

[2017-05-31 19:09] tngan commented on #50
And I really want to separate the example revamp from the release task list, and move the example folder as a standalone project, it should not be the blocker of the module itself.

Or we can create a community for this module as well

[2017-05-31 20:02] vbakke commented on #50
I totally see your point of not wanting unfinished examples to hold back a release.
But then, I chose express-saml2 over other options, based on the fact that it also contained examples.

It might be worth considering.

From a technical point of view, the examples are just bothersome for the the development. But from a psychological point of view for new users, working examples are invaluable.  :)

[2017-06-01 00:16] tngan commented on #50
@vbakke Thanks for your support and feedback, working examples and clear documentation are very important in order to help people getting started. I think we are not going to remove those examples, but I would like to move them into other repositories instead.

[2017-06-01 00:20] tngan commented on #50
@sebakerckhof I will close this thread since the commit is already pushed, open a new issue if you have questions related to the usage of expose id.

[2017-06-01 00:20] #50 closed

[2017-06-01 00:43] tngan commented on #61
@mikevbaker This issue is closed because there is no response after 3 weeks. Feel free to reopen it if you have any updated. :)

[2017-06-01 00:43] #61 closed

[2017-06-01 01:13] #63 closed

[2017-06-01 07:19] sebakerckhof commented on #50
Nope, that commit seems to be exactly what was needed. thanks.

[2017-06-01 16:22] #69 closed

[2017-06-01 16:49] tngan opened #76 "Rebrand and next step of express-saml2"
Next big plan would be to remove the bundle with express.js, because this library should not be limited by a single framework.

**Some thoughts**

- Rename but will keep the version history
- The current example folder will be separated into new repositories, it's more easier to let user get started instead of cloning the whole library
- An open-source and standalone identity provider to provide s

[2017-06-01 16:57] sebakerckhof commented on #76
Sounds good

[2017-06-02 16:37] tngan commented on #76
Yes, it's definitely not bounded to express.js, so no need to name it as a prefix and we can remove the ambiguity.

**Name suggestion (keep updating)**
- saml2pass
- samlify
- js-saml2

[2017-06-02 17:44] #64 closed

[2017-06-02 18:06] tngan commented on #71
I have checked the decrypted response, it contains both signature assertion In v1, we don't have validation on the signature of entire response message, but we would handle it in v2. (#64).

I will make a test in v2 as well. I closed this issue because v1 will be deprecated very soon.

[2017-06-02 18:06] #71 closed

[2017-06-02 18:26] tngan commented on #76
Examples will be moved into a new organization later on.

https://github.com/Passify

[2017-06-03 06:21] vbakke commented on #71
Ah, so _that_ was why. :)
Are you saying the branch 2.0.0-beta already has support for this? Or that it will have soon?
(I'm just asking for my testing purposes. : )

[2017-06-03 10:35] tngan commented on #71
It's already in v2.0.0-beta.

[2017-06-04 09:34] tngan opened #78 "Start support node v8"
We follow latest announcement from Node.js official (https://nodejs.org/en/blog/release/v8.0.0/#long-term-support). This library will

Stop maintenance Node 4 from April 2018.
Stop maintenance Node 7 from July 2017.

Start support Node 8 starting from 2.0.0-beta.

[2017-06-05 16:47] #78 closed

[2017-06-06 02:48] #68 closed

[2017-06-06 14:07] tngan commented on #46
The examples will be separated and maintained in https://github.com/Passify. Then this issue is closed first.

[2017-06-06 14:07] #46 closed

[2017-06-06 14:16] tngan commented on #76
@sebakerckhof How about we rename it as **samlify** before the release ?

- [ ] github repo rename
- [ ] package.json (pre-release as `2.0.0-rc.1` before the real release next week)

[2017-06-07 07:15] sebakerckhof commented on #76
Yeah, I agree we should do the rename before the release.
Although before the final release I think we should really have some more tests. The coverage of the entity and binding files is really low seeing how much of the functionality is in there.

[2017-06-07 07:46] vbakke commented on #76
I quite liked the name express-saml2.  But since this library has no connection with express.js, it shouldn't have a connection via the name either. I support a name change. :)

I haven't had time to test v2 yet, but I'm planning to work more on my SAML2 project tomorrow.  I can upgrade then, and give feedback if I find anything.

Vegard :)

[2017-06-07 09:20] sebakerckhof commented on #76
Btw, what about registering an npm scope? So we can do @passify/samlify or something like that.

[2017-06-07 09:25] sebakerckhof opened #82 "API proposal for v3"
This is more of a general ideas thread for a possible v3.

I came across https://github.com/socialtables/saml-protocol and while it doesn't look like a very well maintained/supported library, I really like the API.

More specifically how you give a 'model' to the 'sp'/'idp' with functions like:
[code]

That allows them to do a bunch of useful stuff.

[2017-06-07 10:20] ugolas opened #83 "Dynamically creating Identity providers"
Hi,

We are implementing a sso feature in our system, which will allow our clients to configure their own identity providers (each client might use a different one), and login using them.

This requires identifying the relevant idp for every saml request and instantiating a new IdentityProvider instance for every saml request.

Two challenges we've encountered so far which I would like to get help

[2017-06-07 12:44] tngan commented on #83
For the two abovementioned questions, we allow user to pass in string (e.g. the string obtained from database, the string read from files) in both metadata, certificate and key files. Credits to @sebakerckhof.

v2 itself will be released by the end of this week.

[2017-06-07 13:11] ugolas commented on #83
Thanks for the reply!

Is this supported in version 1.4.1? (the version I'm currently integrating with)

In the code I saw that only passing a path to a file is supported:
`
        if(signingCertFile) {
            IDPSSODescriptor.push(SamlLib.createKeySection('signing', signingCertFile));
        } else {
            console.warn('Construct identity provider - missing signing certificate');

[2017-06-07 13:38] tngan commented on #83
Unfortunately, v1.4.1 only support the path to file. For v2, the rc.1 was released yesterday.

You can install it using `npm install samlify@2.0.0-rc.1`. Since we are still working on the documentation and test cases, you can checkout the test files to see how to construct the identity provider during the meantime.

[2017-06-07 17:28] tngan commented on #76
I have already make the first rc release in npm. `npm install samlify@2.0.0-rc.1`

[2017-06-08 13:08] #76 closed

[2017-06-08 14:11] tngan opened #84 "Test coverage and related issues"
https://coveralls.io/github/tngan/samlify?branch=master

[![Coverage Status](https://img.shields.io/coveralls/tngan/samlify/master.svg)](https://coveralls.io/github/tngan/samlify?branch=master)

+ [x] Message integrity tests
+ [x] Achieve 90% coverage
+ [x] Tests for login request parsing
+ [x] Fix the inconsistency of result in coverall's cronjob and `npm run coverage`
+ [x] Fix the testing error

[2017-06-09 10:11] sebakerckhof commented on #82
Btw, to give some more background on why I think this is a nice api:

1) The  `getIdentityProvider` function of the model allows for some nice things:
It allows you to just pass the request variables are body params to the assert functions. The library can then extract the 'entityId' (e.g. from 'Issuer' in the XML) and find the IDP settings. Thus your SP can have all the IDPs use the same endpoint

[2017-06-16 18:53] tngan commented on #83
@ugolas This issue isn't updated for a while, so I close it first. Feel free to reopen it if needed.

[2017-06-20 13:56] ugolas commented on #83
HI,

I'm trying to integrate the '2.0.0-rc.2' and U just want to make sure a few things, will re-use this issue for questions:

1. Does the library validates the following: audience, recipient, statusCode? I'm trying to test it and when I change these values the parseLoginResponse is still successful. Do I need to implement these validations manually or am I not using the lib correctly?

2. I can'

[2017-06-20 14:14] tngan commented on #83
Hi @ugolas,

1. The validation is left to users, this library only does the basic and important checking (e.g. signature validation and decryption), but you can get back those attributes from the extract object.

See the test case [here](https://github.com/tngan/samlify/blob/master/test/flow.ts#L392), this case could be the most complicated response, with customize template including attributes, m

[2017-06-20 14:19] tngan commented on #83
For 2, I think I might know what happened, thanks for catching it.

[2017-06-20 16:17] tngan commented on #83
@ugolas Please try again with v2.0.0-rc.3.

[2017-06-20 16:22] tngan commented on #82
Yes, I agree that enforcing association and flexibility could be the next step. Let me draft the proposal during summer, and probably we can release v3 by the end of this year, and keep discussing here.

[2017-06-20 16:24] tngan commented on #40
This library could allow to do that, but it doesn't include in the current example set, the plan is to include it in the example after v2 is released.

[2017-06-21 07:58] ugolas commented on #83
thanks for the quick reply!

I get invalid for installing  v2.0.1-rc.3 , but I tried v2.0.0-rc.3, and now the signature validation fails pretty much for every change I make to the XML - thats great!

[2017-06-21 13:41] tngan commented on #83
@ugolas Just do `npm install samlify@2.0.1-rc.3`, the v2.0.0-rc.3 only checks the first signature found. I will add more message integrity tests before the release in early next week.

[2017-06-21 14:58] haoleman opened #85 "Send entire EncryptedAssertion (not just EncryptedData) to xmlenc.decrypt"
Because xml-encryption.decrypt tries to decrypt the "EncryptedKey"  (https://github.com/auth0/node-xml-encryption/blob/master/lib/xmlenc.js#L129) before decrypting "EncryptedData", need to pass the entire "EncryptedAssertion"  to xml-encryption.decrypt, so the "EncryptedKey -> EncryptedMethod" can be found with a signed SamlRespone, with a signed and encrypted Assertion. Per the spec (http://docs.

[2017-06-21 16:11] tngan commented on #85
@haoleman This is a good catch. Would you also like to fire another issue to `node-xml-encryption` and link this issue to there ? Their documentation shows that `EncryptedData` is passed in the decrypt function even the code can handle both cases.

[2017-06-21 17:37] haoleman commented on #85
^ https://github.com/auth0/node-xml-encryption/issues/30

[2017-06-22 01:20] tngan commented on #85
@haoleman Thank you so much. The decryption part in samlify is now inserting the entire encrypted assertion rather than the data section, this enhancement will be delivered in the next release.

[2017-06-22 12:54] haoleman commented on #85
@tngan  Thx for fixing. FYI I added a comment to node-xml-encryption issue, that relates to the end-to-end use case I'm trying to solve w/ express-saml2/samlify (and deps).
https://github.com/auth0/node-xml-encryption/issues/30

[2017-06-22 17:07] tngan commented on #85
@haoleman Since the issue is fixed in samlify, so I would close this issue. Feel free to reopen if you encounter any problem.

[2017-06-22 17:07] #85 closed

[2017-06-22 20:19] haoleman opened #86 "parseResult.extract.issuer duplicated"
https://github.com/tngan/samlify/blob/master/src/entity.ts#L253 gets thrown because issuer is twice with comma in parseResult.extract Here is results of "console.log(`=====\n here is pR issuer:\n ${parseResult.extract.issuer}`);":

"here is pR issuer: http://blah/asdf
,
http://blah/asdf"

[2017-06-23 01:08] tngan commented on #86
@haoleman I think `parseResult.extract.issuer` could be an array of string in this case. Can you just print out the `console.log(parseResult.extract.issuer);` instead of doing string interpolation ? I wonder if there is some special character like \r\n.

[2017-06-23 01:34] haoleman commented on #86
=====
here is pR issuer:
http://www.okta.com/dummyIssuer,http://www.okta.com/dummyIssuer
====

^ I sent another request from okta and replaced values for posting here. Don't think it's special characters. Here's the SamlResponse:

[saml_response_dupes_issuer.xml.txt](https://github.com/tngan/samlify/files/1096564/saml_response_dupes_issuer.xml.txt)

[2017-06-23 12:18] haoleman commented on #86
by here https://github.com/tngan/samlify/blob/master/src/entity.ts#L241  the fields.issuer is already a comma separated "multi-value" (same with nameidformat and others), which makes sense since there are multiple in samlresponse. However, I can't imagine where these two would ever be different values (if they are throw an error or something), so it's kinda like for extractor.issuer split it by ",

[2017-06-23 15:53] tngan commented on #86
@haoleman I used `libsaml.extract` to test the input document, some trailing spaces are not trimmed and line break exists. If `parseResult.extract.issuer` is an array, when you parse it as string, it would be comma separated, but the libsaml.extract function is supposed to return an array if multiple instances exist.

I have made a patch and test for this issue.

[2017-06-23 15:58] haoleman commented on #86
awesome. figured u'd dig in and find the "real" solution. thx a lot. great library.

[2017-06-23 16:06] tngan commented on #86
Thank you for making this library better.

[2017-06-23 16:06] #86 closed

[2017-06-23 17:32] haoleman opened #87 "enforce signed SamlResponse for IDP-Initiated"
Right now, I am able to send a SamlResponse w/o a signature and it gets through. Handy during dev, but show stopper for me in production.

I noticed here https://github.com/tngan/samlify/blob/master/src/entity-sp.ts#L97 , we are setting "verifySignature"  (prolly need to fix the mispelling) to true AND we set to true to get into here
https://github.com/tngan/samlify/blob/master/src/entity.ts#L243

[2017-06-25 08:31] #84 closed

[2017-06-25 08:32] tngan commented on #40
This issue will move to the example repository later on.

[2017-06-25 08:32] #40 closed

[2017-06-25 08:33] #65 closed

[2017-06-25 08:37] tngan commented on #83
@ugolas v2.0.0 is released officially today.

[2017-06-25 08:37] #83 closed

[2017-06-25 08:38] tngan commented on #12
This thread will be continued, and moved to the example or passify-ce later on.

[2017-06-25 08:38] #12 closed

[2017-06-25 09:08] tngan commented on #87
@haoleman In v1, response signature is optional, but now we guarantee response must have a signature starting from v2 (message signature or assertion signature, or both). Add a checking in that function is useful and makes sense, will include it in the next patch.

[2017-06-25 13:00] haoleman opened #88 "not replacing EncryptedAssertion with decrypted assertion with saml2 namespace"
When parsing signed response and encrypted assertion for an IDP-initiated LoginResponse, the encrypted assertion gets decrypted correctly. However, the replace regex does not handle saml2 namespace.

Note https://github.com/tngan/samlify/blob/master/src/libsaml.ts#L678 is hard coded for <saml:EncryptedAssertion>

I am replacing with `<saml[a-z1-9]?:EncryptedAssertion` to get past here.

Note --> t

[2017-06-25 15:10] tngan commented on #88
@haoleman I think more generic replacement will be made in the patch, so no need to take care of the prefix.

[2017-06-26 01:58] haoleman opened #89 "cannot validate signature with signed response and encrypted assertion (not signed though)"
Using both OneLogin and Okta, I am not able to validate the signature when using a signed response with encrypted assertion. The assertion decrypts (I suspect something in here... like a space) and the encrypted data is replaced with the decrypted assertion, but the signature validation fails here:
https://github.com/tngan/samlify/blob/master/src/entity.ts#L249.  If I send a signed response with u

[2017-06-26 02:05] tngan commented on #89
Let me know how you construct your service provider, or create a sample repository so that we can make sure the initial is correct first.

[2017-06-26 02:12] haoleman commented on #89
`sp = ServiceProvider({
				encPrivateKey: fs.readFileSync(path.resolve(path.dirname(require.main.filename), [path_to_key)),
				metadata: fs.readFileSync(path.resolve(path.dirname(require.main.filename), spFile))
			})`

That what u need?

[2017-06-26 02:26] tngan commented on #89
How do you define the identity provider (okta/onelogin) in order to use parseLoginResponse ? In the test suite, I didn't include the signed response with encrypted assertion (without signature). I will try to add it later on.

You can try out a simple flow, saying signed assertion first and make sure the key setting is correct. [Here](https://github.com/tngan/samlify/blob/master/test/flow.ts#L247)

[2017-06-26 02:41] haoleman commented on #89
For both okta/onelogin, I upload my cert for them to use for encryption of assertion. They use their cert to sign samlresponse.

[2017-06-26 16:01] tngan commented on #89
@haoleman You can checkout the test case that newly added. I also want to know what signature algorithm they use, maybe there is mismatch. Another possibility is the order of signature and encryption, samlify's idp strictly follows sign-then-encrypt approach and sp follows decrypt-then-verify.

[2017-06-26 16:12] haoleman commented on #89
I thought about the order too, afaict okta and onelogin using sign-then-encrypt too. here's signature from both...SHA1. I check and xml-crypto is using SHA1 to hash.

`onelogin

<ds:Signature xmlns:ds="http://www.w3.org/2000/09/xmldsig#">
        <ds:SignedInfo>
            <ds:CanonicalizationMethod Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#"/>
            <ds:SignatureMethod Algorithm="h

[2017-06-26 16:16] haoleman commented on #89
Also, this might be a helpful enhancement for future issues with signatures. I added this libsaml.ts (verifySignature):
`let valid = sig.checkSignature(xml);
          if (!valid) {
            console.log(`Errors checking signature:\n${sig.validationErrors}`);
          }
          res = res && valid;`

[2017-06-26 16:34] tngan opened #90 "Announcement of v2 release and roadmap of 2017"
We are happy to announce v2 and encourage all of you migrating from express-saml2 to samlify, and v1 is now deprecated.

**Credits**

- @sebakerckhof (Another collaborator of samlify)
- @killalau (Lint setting and ts definition)
- @vbakke @ugolas @haoleman (Thanks for those feedbacks and reports)

**Shortlist of the key enhancements in v2 release.**

- Support Yarn package manager (development)
-

[2017-06-26 16:35] tngan commented on #82
Discussion thread is now moved to #90.

[2017-06-26 16:35] #82 closed

[2017-06-26 19:52] mdeltito opened #91 "TypeError: Cannot read property 'find' of undefined at IdpMetadata.getSingleSignOnService"
This occurs when an IdP does not specify a `SingleLogoutService`, which afaik is not required (Salesforce IdP, for example, omits this). I believe this could be a typo on the following line:

https://github.com/tngan/samlify/blob/master/src/metadata-idp.ts#L140

Shouldn't `singlelogoutservice` be `singlesignonservice` here, or am I missing something? If I make this change in the src I no longer ge

[2017-06-27 00:12] tngan commented on #91
@mdeltito Nice catch, fix will be included in the patch.

[2017-06-27 16:10] #91 closed

[2017-06-27 16:51] #87 closed

[2017-06-28 18:43] puneetmakkar opened #92 "Getting "This is not private key" error"
var fs = require('fs');
var saml = require('samlify');

var settings = {
    privateKeyFile: fs.readFileSync(__dirname + '/config/ll_nsl-dev-key.pem'),
    metadata: fs.readFileSync(__dirname + '/config/nsl_sp_metadata.xml')
};

var sp = saml.ServiceProvider(settings);
var idp = saml.IdentityProvider({
  metadata: fs.readFileSync(__dirname + '/config/nsl_idp_metadata.xml')
});

var redirecturl = s

[2017-06-28 22:56] puneetmakkar commented on #92
Figured out the issue.
In the settings, it should be

**privateKey**: fs.readFileSync(__dirname + '/config/ll_nsl-dev-key.pem'),

[2017-06-28 22:56] #92 closed

[2017-06-29 01:11] tngan commented on #92
@puneetmakkar The documentation seems not updated, I will update it in the next patch. :)

[2017-06-29 14:02] haoleman commented on #89
figured out the "problem"...the IDP is encrypting-then-signing. I added a config option to samlify "messageSigningOrder" (just for quick verification) to entity config to allow some logic to verify signature before/after decrypting and it worx. I'll put together an MR, unless you're already working on something like this. Quick look into code, "hardes" thing will be tweaking testing framework. Cha

[2017-06-29 15:16] tngan commented on #89
@haoleman Interesting, this is [another discussion](https://crypto.stackexchange.com/questions/5458/should-we-sign-then-encrypt-or-encrypt-then-sign) thread for the order. A config option is good for it, it also affects the order of decryption and verification in service provider side.

If idp encrypts then signs, sp should verify then decrypt, and eventually verify the assertion signature if ther

[2017-06-29 15:42] tngan commented on #88
@haoleman Patch has been made, new feature will come later on for our IdP module, say customise the namespace.

[2017-06-29 15:57] tngan commented on #89
Both Onelogin and Okta are doing encrypt-then-sign ?

[2017-06-29 21:16] haoleman opened #93 "tests failing after Bump 2.0.1"
cloned/forked master (Bump 2.0.1). npm install. npm test....

`src/entity.ts(312,9): error TS2322: Type '{ relayState: string; entityEndpoint: any; type: string; context: string; id: string; }' is not assignable to type 'BindingContext'.`

[2017-06-29 21:20] haoleman commented on #89
okta for sure. i'll have to check onelogin, again. my trial period expired.

[2017-06-30 00:13] tngan commented on #93
Quite weird since the travis build looks good, not sure if it cached.

[2017-06-30 00:13] #93 closed

[2017-06-30 14:56] #89 closed

[2017-06-30 17:22] tngan commented on #90
**New features**

- Customize namespace for tags (e.g. EncryptedAssertion, Signature)

   [Example](https://github.com/tngan/samlify/blob/master/test/flow.ts#L571-L573)

[2017-07-04 13:47] haoleman opened #95 "Question --> when 2.0.2 Release available?"
Happy 4th. Just wondering when release for 2.0.2 will be available via NPM.  Thanks.

[2017-07-04 15:12] tngan commented on #95
v2.0.2 should be released (just fix the test build), I will bump v2.0.3 tonight as well.

[2017-07-04 15:20] tngan commented on #95
New version is already bumped. https://github.com/tngan/samlify/releases/tag/v2.0.3

[2017-07-04 15:20] #95 closed

[2017-07-04 15:33] haoleman commented on #95
2.0.3 did the trick. I'm able to handle saml2 prefixes and encrypt-then-sign. THX.

[2017-07-04 15:34] tngan commented on #95
@haoleman Thanks for your pull request as well.

[2017-07-05 16:17] tngan opened #96 "Proposal for early 2018 release"
Stable v2 was released a couple weeks ago. Now we are planning for v3 as well. Here is the discussion thread and for feature requests, some of them might be included in the v2 patch later on.

**Included in v3 (march 2018)**

N/A

**Included in v2 future patches**

- [x] #102 Fix of RelayState in login request
- [x] #100 Key matching scheme for multiple singing certificate are being used
- [ ] #97

[2017-07-05 16:20] tngan opened #97 "Typescript definition"

[2017-07-06 23:24] puneetmakkar opened #98 "AssertionConsumerServiceURL in auth request gets set to "undefined" when auth request is of type "redirect" but response is of type "post""
@tngan
https://github.com/tngan/samlify/blob/master/src/metadata-sp.ts#L201

**SP metadata file**
[code]
**Auth Request**
[code]

[2017-07-07 13:54] tngan commented on #98
@puneetmakkar The protocol binding means the binding of the response, that means only HTTP-POST and HTTP-Artifact, samlify only support HTTP-POST right now.

AssertionConsumerServiceURL is not supposed to get `undefined`, will take a look soon.

[2017-07-07 15:39] tngan commented on #98
@puneetmakkar Good catch, the fix is patched in the latest build, checkout v2.0.4.

[2017-07-07 18:33] puneetmakkar commented on #98
Thanks @tngan for the quick fix.

[2017-07-07 19:12] #98 closed

[2017-07-12 02:34] killalau commented on #97
@tngan any details for this enhancement? I can help.

[2017-07-12 13:29] ugolas commented on #90
Is there a plan to add idp initiated slo?

[2017-07-13 15:52] tngan commented on #97
@killalau Target of first pass is to minimise the number of `any` and submit it to DefinitelyTyped.

Some basic functions must be included.

- [ ] constructor of metadata, entities (idp & sp)
- [ ] createLoginResponse
- [ ] createLoginRequest
- [ ] parseLoginRequest
- [ ] parseLoginResponse

[2017-07-13 16:01] tngan opened #100 "Key matching for multiple KeyDescriptor elements in metadata"
**Description:** Enables the key matching since multiple KeyDescriptor elements are allowed in metadata. [Doc P.15 of 43](https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf)

**Suggested solution**

1. Load the signing certificate specified in metadata (zero or more)
1. Match the one used in SAML document (request/response) with those in metadata

    -   Throw error if no mat

[2017-07-15 15:18] tngan opened #101 "Deprecate express-saml2 in npm registry"
https://docs.npmjs.com/cli/deprecate

[2017-07-16 09:44] #101 closed

[2017-07-17 23:10] puneetmakkar opened #103 "Signature verification failing for login redirect request with relayState"
Request: https://login-int.norton.com/sso/idp/SAML2?SAMLRequest=lZJdT8IwFIb%2FytL77ovFQQNLJsRIgkoEvfDGdNsBGvsxezrUf28ZGvFCEpNenZ73Pe9z2jFyJVtWdm6n7%2BG1A3TBu5IaWX8xIZ3VzHAUyDRXgMzVbFXeLFgaxqy1xpnaSHIiOa%2FgiGCdMJoE89mEPOfVprmIRxWt0jSjWc1TOuJZTvMkrof%2BZOkgJsEjWPSaCfEWXojYwVyj49r5UpzkNM5pkq%2FTAYsHLMnCYTp8IsHMswjNXa%2FcOdciiyJptkJToV2ojXVGh7VREaKJRNNGh5gpCZZfWJdCN0JvzxNVxyZk1%2Bv1ki7vVmsSlN%2BUU6Ox

[2017-07-18 05:06] puneetmakkar commented on #103
This PR fixes the above issue https://github.com/tngan/samlify/pull/102/commits/25f27d8c15c452b3be16658b2546ebd0ff409f73

[2017-07-18 16:58] #103 closed

[2017-07-18 18:34] #100 closed

[2017-07-18 18:36] tngan commented on #96
Merged it with #90

[2017-07-18 18:36] #96 closed

[2017-07-19 02:32] tngan opened #104 "Workaround for the inclusive namespace"

[2017-07-21 18:02] tngan opened #105 "Documentation of single logout services"

[2017-07-24 06:20] Seikho commented on #97
You don't need to submit to definitelytyped if you export the types from your package.

See: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

[2017-07-24 08:52] Seikho commented on #104
Could you elaborate on this?
I'm currently doing a first-pass at the types. This might be something I can look at while I'm in the codebase.

[2017-07-24 08:56] Seikho commented on #90
It'd be great if the export syntax used es6 instead of commonjs.
To maintain backwards compatibility with commonjs you can use named exports and a default export side-by-side.

[2017-07-24 14:39] tngan commented on #90
@Seikho Thanks for your suggestion. Samlify still supports node v4 until it ends maintenance cycle, I will check if there are conflicts when we change to es6 export, in particular not only the export one.

[2017-07-24 14:59] Seikho commented on #90
Thanks for replying, @tngan.

What I meant to say was converting your typescript exports to es6, which will down-level to CommonJS when compiled, but allow TS users to use es6 imports and vanilla JS users to continue using `require()`.

I have a branch up on my fork with the changes. Feel free to have a play around.

[2017-07-24 15:10] tngan commented on #90
@Seikho Cool, thanks for your clarification, that makes sense. I am happy to accept the pull request later on.

[2017-07-24 15:19] tngan commented on #104
@Seikho This issue is on-hold, please ignore it first, it would be better to prepare a pull request to `xml-crypto` instead of making a workaround in samlify. The spec. of workaround will be rolled out this weekend.

[2017-07-24 20:38] vvo commented on #90
Het hi, this lib looks great. I have been looking at the ecosystem around SAML and it seems like the main module (passport-saml) is old an not well maintained.

I was wondering if there was any quick example on how to use Okta + express + samlify. As the current documentation requires good knowledge of SAML concepts I have not been able to wrap my mind around how to do it.

Thanks!

[2017-07-25 03:06] tngan commented on #90
@vvo I have an old example that works in alpha version. https://github.com/tngan/samlify/blob/f2b6a2f8c36dc0ff887d0442c48cd0f2c0a4a778/examples/sp1/routes/sso.js#L28-L29.

The new one will be published around middle of August. Feel free to contact me via passify.io@gmail.com for support if something has to be in private.

[2017-07-28 16:26] tngan opened #109 "Example repositories"
In v1, we have examples for service and identity provider, we will have the same in v2 as well. Feel free to keep tracking on the progress in the repositories below.

- [ ] https://github.com/Passify/samlify-sp
- [ ] https://github.com/Passify/samlify-idp (-> passify-ce)

[2017-07-30 07:58] shyimo opened #110 "Construct octetString outside of the library"
In order to parse logout request, we need to parse in the express req the octetString and we need to generate it from the query params.
It is not necessary since the parse logout request function receive the query params and it will be much better if the function will generate it by her self.

[2017-07-30 08:08] shyimo opened #111 "Validates issuer when IDP initiated slo"
Is the any validation for the issuer in parseLogoutRequest when idp initiated the slo?
it seems not and it will be great if it will be.

[2017-07-30 08:14] shyimo opened #112 "How to handle errors for slo flow initiated by idp."
When error occurs during the parsing of the logout request, how should we handle it? did the response to the client should also be redirect or we need to return error status?

[2017-07-30 08:19] tngan commented on #111
@shyimo It is not included in this library now, the library only does the signature validation, decryption (for login response), and extract information from response, the others are left to developer.

Indeed I would like to put more common validations, saying issuer, and time conditions. Pull requests are welcome though.

[2017-07-30 08:29] tngan commented on #110
@shyimo I am still looking for a good way to do this, v1 does the generation but v2 doesn't because we want to abstract the request interface, making samlify not bundled with express.js but also with other frameworks, say koa ... etc.

[2017-07-30 09:23] tngan commented on #112
@shyimo There is a field called StatusCode in response.

[2017-07-30 09:27] ugolas commented on #112
@tngan in the case of a IDP initiated SLO, where the signature validation fails, what should be the response? continue the redirect to the IDP with an error in the status code of the SAMLResponse?

[2017-07-30 10:13] tngan commented on #112
Signature should be the top level verification. Imagine if you don’t trust the entity, all responses and requests from untrusted source should be rejected, I do think it should send back the response to identity provider to complete the operation with status code

urn:oasis:names:tc:SAML:2.0:status:Requester

indicating failed request.

[2017-07-30 10:25] ugolas commented on #112
ok sounds good.. Is there a way to use the samlify lib to construct such a response?

[2017-07-30 17:28] tngan commented on #112
@ugolas What we can do right now is to use customize response template, and replace those tag during runtime, but it's not intuitive to do that, I am working on the examples now for both idp and sp. Maybe it's a good time to revise the flow of logout.

[2017-07-30 17:33] tngan commented on #111
So I will try to make it as a set of validator adapters and allow them to be explicitly injected in the configurations in the entity constructor as well.

For examples:

[code]

instead of leaving those to developers.

[2017-08-04 16:25] tngan commented on #97
First pass is done. Thanks @Seikho

[2017-08-04 16:25] #97 closed

[2017-08-08 10:43] haoleman opened #113 "Tweak to libSaml to support Encrypt-then-Sign signature Validation"
I support IDP Initiated SSO with IDP's that use both encrypt-then-sign and sign-then-encrypt .: I need to be able to support both. When "selecting" the x509 Cert(s) to verify in line https://github.com/tngan/samlify/blob/master/src/libsaml.ts#L475 from the Signature, the xpath select "queries" the entire SAML Response document and not just the signature Node. To fix this. add a "." (dot), so xpath

[2017-08-08 11:23] haoleman commented on #113
test sample:

`var xpath = require('xpath'),
    dom = require('xmldom').DOMParser

var xml = `<samlp:Response xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol" xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion" ID="_8e8dc5f69a98cc4c1ff3427e5ce34606fd672f91e6" Version="2.0" IssueInstant="2017-08-08T09:29:22.061Z" Destination="http://localhost/api" InResponseTo="nothing"><saml:Issuer>http://idp.ex

[2017-08-08 11:25] haoleman commented on #113
upload test/sample code to show
[xpath_test.js.txt](https://github.com/tngan/samlify/files/1207824/xpath_test.js.txt)

[2017-08-08 15:48] tngan commented on #113
@haoleman Nice catch.

[2017-08-08 17:20] haoleman commented on #113
i figured u could do a quick fix, rather than me pushing an MR. If you want, I can put one together.

[2017-08-08 18:18] haoleman commented on #113
yeah. need to move the signature in the SAMLResponse after the encryptedAssertion...i think

[2017-08-09 01:36] haoleman commented on #113
I have fix and test case. Used signatureConfig, to change order of nodes. I'll push up PR tonight.

[2017-08-09 04:41] tngan commented on #113
Will be included in the next release, which is v2.2.

[2017-08-09 04:41] #113 closed

[2017-08-09 13:41] haoleman commented on #113
when u bumping to 2.2?

[2017-08-09 14:01] tngan commented on #113
Friday 15:30 UTC

I need to document something else.

[2017-08-09 18:04] RebelSyntax opened #115 "Integrate samlify with passport as a passport strategy?"
I am looking for a maintainable SAML SP engine for nodejs.  So far i see auth0 has created a saml passport strategy passport-wsfed-saml2 based on passport-saml.

Has there been any discussion on the differences between samlify and something like passport-saml?

In particular, I am interested in knowing how much customization to the SAML authn request I can make outbound, and how much customization

[2017-08-10 01:16] tngan commented on #115
@RebelSyntax

**Has there been any discussion on the differences between samlify and something like passport-saml?**

I am not sure if passport-saml is still actively maintained. In fact, passport-saml and samlify allow you to integrate sso in your service (sp) and federation service (idp). Last but not least, samlify also allows you to configure your own federation service (idp) as well.

**In pa

[2017-08-10 07:16] hotienvu opened #116 "Unable to disable signature verification"
Hi,
I want to disable the certificate verification of SAML response for the time being. The documentation suggests to set WantAssertionsSigned="false" in SP metadata. However it's not being honored and I'm getting uncaught exception in verifySignature() method.
Looking at the source it seems like the signature is still checked and it requires a < ds:X509Certificate> tag to be included in the respo

[2017-08-10 07:33] tngan commented on #116
@hotienvu Let me update the documentation later on. We are sorry to not support unsigned response since SAML response must have signature, can be in assertion or entire message, or both.

I will check if the X509Certificate is optional in signature section later on.

[2017-08-10 07:44] hotienvu commented on #116
No problem, actually the Idp admin just made change to include the X509Certificate in the response so it's working ok with the verification now. Just wonder if it is better to honor the WantAssertionsSigned by passing
`this.entityMeta.isWantAssertionsSigned()` instead of `true`

[2017-08-10 07:45] #116 closed

[2017-08-10 07:49] tngan commented on #116
Long time ago, it is. However we changed to `true` because response must have signature according to SAML specification.

If `WantAssertionsSigned` is set to false, we assume idp is using message signature implicitly.

[2017-08-10 07:58] hotienvu commented on #116
Thanks for clarification (y)

[2017-08-10 16:14] tngan commented on #112
Already put it in pending list. Checkout #90.

[2017-08-10 16:14] #112 closed

[2017-08-10 16:14] tngan commented on #110
This will be revised later on.

[2017-08-10 16:14] #110 closed

[2017-08-11 14:52] tngan commented on #113
@haoleman v2.2.0 is already bumped.

[2017-08-12 15:23] emilhem opened #117 "Issue with verifySignature"
When receiving a good SAML response back the verifySignature method responds `Error: certificate in document is not matched those specified in metadata`. I tried finding where the issue came from and found that when looking at the `metadataCert` variable inside the `verifySignature` method I found that the variable looked like the following (except I have replaced the certificates with cert1 and c

[2017-08-12 15:45] emilhem commented on #117
When inserting the following code before the `include` check, it works as intended.
[code]
Now, I wouldn't say that my fix above is a work of art but it gets the job done.

**Notice**: I didn't take TypeScript into consideration when I wrote the above code. I just placed the code in the `libsaml.js` file in the `build` folder.

[2017-08-12 16:40] tngan commented on #117
@emilhem  Would you like to place the sample metadata, in order to reproduce the sequence say丶`cert1.cert2.cert1` ?

[2017-08-13 08:19] emilhem commented on #117
SP metadata:
[code]
IdP metadata:
[code]
Unsure where cert2 is coming from. I don't have the time to investigate at the moment.

[2017-08-13 10:54] bilalfastian commented on #105
@tgnan thanks for the library. I'm going to use it in one of my project. While playing with it, I really found the v1 example helpful.

Now that v2.2.0 has the LogoutService as well, Can you please also share an example of SP initiated LogoutService?

[2017-08-13 12:43] tngan commented on #105
@bilalfastian I am revamping that v1 example, will tidy up the documentation by the end of next week. The example repository is now moved to `passify/passify-sp`. The estimated release date is around the end of August.

[2017-08-13 12:59] bilalfastian commented on #105
@tngan thanks for quick response.
As I just started with integration, end of August will be fine too.

I'm using external federation service.

[2017-08-31 15:45] rolljee opened #118 "Provide more informations about creating the service"
Hello, I'm confusing with the whole setup.

__What I want ?__
I want a user from my application to connect to an ADFS via SAML2 :

__What I've done so far:__

- I have an ADDS and an ADFS working properly.
   - I added the relying party trust and the callback url on the ADFS

So, what I understand so far is that my ADFS will be the Identity provider ?
And my application will be the Service Provide

[2017-08-31 17:53] tngan commented on #118
@rolljee

`So, what I understand so far is that my ADFS will be the Identity provider ?
And my application will be the Service Provider ?`

Answer is yes.

From my understanding, you are trying to do the SP-initiated SSO, right ?

For your configuration of service provider, you can use this online [tool](https://www.samltool.com/sp_metadata.php) to build your metadata.

There are a lot of options

[2017-09-01 08:12] rolljee commented on #118
Thank you for the fast answer, I will work on it !

`From my understanding, you are trying to do the SP-initiated SSO, right ?` Answer is yes.

I will create the metadata on the website then I will run against my ADFS and see what happen.

[2017-09-03 16:50] tngan commented on #118
@rolljee Please also follow `https://github.com/Passify/samlify-sp`, the example repository will be released very soon.

[2017-09-07 19:13] hammadzz opened #120 "createLoginRequest expected to return redirect url string?"
I think there is a mistake in the examples that handle the redirect by expecting createLoginRequest to return a url string:
[code]

Is this the right fix:
[code]

[2017-09-08 00:43] tngan commented on #120
@hammadzz Yes, the document seems not updated.

[2017-09-10 19:07] #120 closed

[2017-09-10 19:08] tngan opened #121 "Restrict xsd validation to response"
- [x] include schemas
- [x] code logic
- [x] test cases

[2017-09-12 16:53] tngan opened #122 "Restrict xsd validation to metadata"

[2017-09-12 16:54] tngan opened #123 "Restrict xsd validation to SAML request (login/logout)"

[2017-09-12 20:36] ahwitz opened #124 "Handling SAMLResponses with unknown encryption status"
Don't know if this is desired, but I'm dealing with a multi-IdP situation wherein it'd be easier to not provide an `isAssertionEncrypted` value when creating the IdentityProvider object and let it be determined automatically. If I understand correctly, that should be as simple as an XPath call at https://github.com/tngan/samlify/blob/master/src/entity.ts#L246 with some additional error handling, b

[2017-09-14 02:21] tngan commented on #124
@ahwitz Yes, the construction of identity provider and service provider can be done during run time.

[2017-09-14 13:05] rolljee commented on #118
Hello again @tngan as discussed

I managed to create the metadata, and tested it against the ADFS

Now i have some more information about my error.

![adfs](https://user-images.githubusercontent.com/10114634/30431139-f61da476-995d-11e7-940b-881a00e649f7.png)

It seems that my SP metadata are not compliant to my IDP metadata ?

[code]

For now i only get this error when parsing the response : `Erro

[2017-09-14 15:25] tngan commented on #118
@rolljee The SAML request is failed in IdP side, it seems that the configuration is not correct. Please also check [this thread](https://social.msdn.microsoft.com/Forums/vstudio/en-US/7860d23e-ac45-4f2b-aac2-058b6f28e9f8/msis1000-the-saml-request-contained-a-nameidpolicy-that-was-not-satisfied-by-the-issued-token?forum=Geneva) for more information.

`NameIDPolicy` in metadata specifies the constra

[2017-09-17 17:31] #121 closed

[2017-09-18 18:01] hammadzz opened #125 "Error incorrect signature on SAML Assert"
I am getting an "incorrect signature" error on SAML POST response hitting the assert endpoint. I traced it down in samlify source to this code in entity.ts:

[code]

But when I check my response using this service: https://www.samltool.com/validate_response.php everything seems to validate fine. How can I debug this further?

[2017-09-18 18:48] tngan commented on #125
@hammadzz There are some possibilities that the signature might get errors when you use samlify.

1. Importing a wrong key when construct the entity
1. Mismatch of signature algorithm
1. Inclusive namespace [xml-crypto#94](https://github.com/yaronn/xml-crypto/issues/94)

You are using the latest version of samlify, right ?

[2017-09-18 19:00] hammadzz commented on #125
@tngan

1. Do you mean the idP cert imported wrong? Would this be in the xml metadata or sp_setting?

2. Signature Algorithm is listed the same in idp_setting as is found in the saml response: <SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1" />

3. Doesn't seem to be my issue as the saml response has no child in CanonicalizationMethod: <CanonicalizationMethod Algorithm="http

[2017-09-19 00:56] tngan commented on #125
@hammadzz

Another possibility is the order of signature, in case if you have encryption in saml assertion as well, default is `sign-then-encrypt`, but most likely it would be `encrypt-then-sign`.

[code]

`Any tips on what can be done to debug this further. Is samltool.com wrong or the library has a bug?`

samltool.com is good enough. I cannot tell whether samlify has bug or configuration mistake

[2017-09-19 17:20] tngan opened #126 "Standardise Error Message"
In order to have a better debugging experience

[2017-09-19 18:29] hammadzz commented on #125
@tngan I traced down the issue to being a mismatch on the digest value. The calculated digest of the canonized assertion does not match the value in the signature. This part of the code is in the xml-crypto library.

In the verifySignature method when using xml-crypto and calling checkSignature you can get the validationErrors. This helped me figure out the issue is with the digest value mismatch.

[2017-09-20 03:03] tngan commented on #125
@hammadzz Have you tried out the messageSigningOrder option ?

[2017-09-20 08:19] rolljee commented on #118
Hi again @tngan

Thx for all your help, i managed to configure correctly my ADFS.

I modified the binding from the relaying party trust in order to 'redirect' instead of making a 'POST' request, I have now the correct response comming from the IDP.

Using the online tool you provided, i managed to deflate and decode the Signed base64 message.
I'm now looking for a way to deflate and decode in my a

[2017-09-20 08:19] #118 closed

[2017-09-20 10:41] hammadzz commented on #125
@tngan Yes I tried setting it to encrypt-then-sign even though it is unencrypted

[2017-09-20 13:42] tngan commented on #125
@hammadzz Would you like to create a sample repository, then we can go deeper on this issue ?

[2017-09-20 13:50] tngan commented on #118
@rolljee Redirect binding for request is supported in this library.

[2017-09-20 14:21] rolljee commented on #118
@tngan  I mean redirect binding for adfs response not for request :)

Using this piece of code, i managed to decrypt any response incomming from an adfs redirect binding.

[code]

[2017-09-21 07:57] Ailsa84 opened #127 "Validate SAML Response fail when Signature nodes exist in both <Response> and <Assertion>"
My SAML Response has Signature in both <Response> and <Assertion>, like following:

[code]

When validate first DigestValue in <samlp:Response>, I found all signature nodes are replaced with '',
xml = xml.replace(/<ds:Signature(.*?)>(.*?)<\/(.*?)ds:Signature>/g, '');

But this will also replace signagure node in <saml:Assertion>, then send this 'xml' to 'xml-crypto' will calculate a different inco

[2017-09-25 09:35] AmineBena17 opened #128 "Checking signature required"
Hi,

i'm using your library to implement the SSO in my project, but when i want to parse the login response i have some problems with the signature of my response, so i suggest if it's possible to not  force checking signature of the response because in the integration phase of a project it's not necessary. i tried to do a pull request in your library but i couldn't.

[code]

Cordially.

[2017-09-25 15:17] tngan commented on #128
@AmineBena17 It's recommended to do signature validation no matter in dev or production. It's because response must have signature according to SAML specification.

[This](https://github.com/tngan/samlify/issues/116) is another related issue.

[2017-09-25 15:24] AmineBena17 commented on #128
Hi.

I suggest if it's possible to make or variable and de can activate and desactivate when we need it. In my case i receive a non signed response from the IDO, and i put or false in the file .js to use it in my projet.

Thanks.

[2017-09-26 02:29] tngan commented on #128
Previously we had a version using a variable to trigger the activation of signature validation, but it didn't follow the standard specification so we removed it. Please fork a new one and fit this in your use case, but we are not going to bring it back at this moment :)

Once you fork a new one, I can mention it in README.md as well and for those who are willing to disable the signature validation

[2017-09-26 11:20] AmineBena17 commented on #128
Great ! thank you for your response.

[2017-09-26 13:28] tngan commented on #128
I will close this issue first, please reopen it whenever it’s necessary.

[2017-09-26 13:28] #128 closed

[2017-09-26 17:15] hammadzz commented on #115
Hope this helps anyone trying to quickly get going with Samlify with a passport strategy. If confused PM me.

First npm install passport-strategy, it will be used as the base.

[code]

Stuff your idp and sp configs from samlify into a wrapper object as shown here. This function generates a saml strategy and you can use. Write your own response handler, example shown below. It will be called by the

[2017-09-27 20:07] phairoh opened #129 "libxml-xsd Dependency Introduces Breaking Change"
The v2.3.0 introduces a breaking change as a result of the addition of the `libxml-xsd` dependency. This library depends on `libxmljs-mt` which needs to be compiled and requires a number of additional dependencies (such as python) the lack of which will cause `npm install` to fail.

I suggest reverting and publishing a corrected version and republishing this version as a major release.

[2017-09-27 23:47] tngan commented on #129
@phairoh Thanks for your report, which npm and node version are you using ?

[2017-09-28 19:47] phairoh commented on #129
node: 8.6.0
npm: 5.3.0

[2017-09-29 16:00] tngan commented on #129
@phairoh From the library level, it doesn't break the API, so I don't think we should upgrade the major version. I would rather like to do a `preinstall` script instead.

[2017-10-02 20:02] ahwitz opened #130 "xsd.parseFile can't find schema file"
With a fresh install of 2.3.0, I get `ENOENT: no such file or directory, open './schemas/saml-schema-protocol-2.0.xsd'` whenever anything calls isValidXml (libsaml.ts:700).

I also think line 702 should have a premature `return` with that `reject` - if the file load fails, it still tries to valid off the non-existent schema.

[2017-10-03 15:17] tngan commented on #130
@ahwitz Interesting, possibly there is some problem in the file path, would be better to use absolute path instead of relative one. WIP

[2017-10-03 17:32] tngan commented on #130
@ahwitz Fixed and patched v2.3.1.

[2017-10-03 17:36] tngan commented on #127
@Ailsa84 Sorry for the late reply. Will take a look soon.

[2017-10-03 17:37] tngan commented on #109
The related issues will be updated in those repositories.

[2017-10-03 17:37] #109 closed

[2017-10-03 17:38] tngan commented on #104
It's better to leverage it in xml-crypto instead of hacking the workaround in samlify.

[2017-10-03 17:40] tngan commented on #124
@ahwitz Since no update on this question thread for almost 3 weeks, I will close it first. Feel free to reopen it if necessary.

[2017-10-03 17:40] #124 closed

[2017-10-03 18:40] domenvajevec commented on #130
I'm getting an ```I/O warning : failed to load external entity "schemas/saml-schema-assertion-2.0.xsd"
I/O warning : failed to load external entity "schemas/xmldsig-core-schema.xsd"```
I believe the ```
    <import namespace="urn:oasis:names:tc:SAML:2.0:assertion"
        schemaLocation="schemas/saml-schema-assertion-2.0.xsd"/>``` in `schemas/saml-schema-protocol-2.0.xsd` needs to be updated too

[2017-10-03 18:57] domenvajevec commented on #130
A little more info...
![image](https://user-images.githubusercontent.com/2238175/31143370-fee7e75a-a831-11e7-889b-77342bfe3935.png)

[2017-10-04 00:02] tngan commented on #130
@domenvajevec I will standardise the error output in v.2.4. release to make better debugging experience. (#126) During the meantime, you can directly input your raw xml string to do debugging through the following script in Node.js REPL.

[code]

[2017-10-04 00:13] tngan commented on #130
@ahwitz Issue is reopened. Would you like to provide a way to reproduce it ?

Apparently, the problem is located in the `schemaLocation` of imported schema files in `saml-schema-protocol-2.0.xsd`.

[2017-10-04 00:37] ahwitz commented on #130
Using...
[code]

The following crude reduction of the code I was using...

[code]

...prints out...

[code]

I've started building my own SAML SP from scratch because of this, workflow issues re: #124, and a digest problem similar to #125, so a) this is my trying to reverse-engineer old code and b) I probably won't be of much use here on out.

[2017-10-04 00:52] tngan commented on #130
@ahwitz For #125, after discussed with @hammadzz, it's because of known issue in `xml-crypto` for missing namespace in canonizing the signed info xml.

https://github.com/yaronn/xml-crypto/issues/137
https://github.com/yaronn/xml-crypto/issues/94

[2017-10-04 00:58] tngan commented on #130
@ahwitz During the meantime, what if you change the `schemaLocation` of `saml-schema-protocol-2.0.xsd` inside the node_module/samlify/build/schemas, by a) removing the `schema/`, b) using absolute path saying `build/schemas`.

[2017-10-04 01:00] ahwitz commented on #130
I didn't have the xml-crypto#94 problem (saw that earlier in #125), but xml-crypto#137 might help - thanks for the links! May look into #137 later, but the "failed to load" error here was preventing me from testing that.

[2017-10-04 01:07] tngan commented on #130
@ahwitz Schema validation is necessary, and the tests are passed without problems. I will try to reproduce the issue by following the code you have mentioned above, thanks for your input.

[2017-10-04 01:19] ahwitz commented on #130
Just saw your second comment and was trying to work through it, but I'm not sure what you're asking for.

Those two `I/O warning` lines above come from the schema imports within the assertion schema (lines 12 and 14 of `saml-schema-assertion-2.0.xml`).  The "Invalid XSD schema" is thrown from `libxml-xsd index.js:52` - the `source` variable shows up as what seems to be an empty document, but I'm n

[2017-10-04 02:09] tngan commented on #130
@ahwitz Update: the issue can be reproduced in my side.

[2017-10-04 02:28] tngan commented on #130
@ahwitz By following the workaround in node-libxml-xsd (https://github.com/albanm/node-libxml-xsd/issues/11), the path problem can be resolved.

In libsaml.ts line 700-701

[code]

and remove `schemas` folder in the `schemaLocation` in `saml-schema-assertion-2.0.xml`  I will patch it tonight.

[2017-10-04 08:35] maitscha opened #132 "Documentation: "Use 3rd party IdP""
The documentation states:

What is the reason for not suggesting to use this library for a SAML IdP?

[2017-10-04 08:58] tngan commented on #132
@maitscha This module is experimental, for internal testing purpose. We will enhance this part, possibly becoming a commercial product called passify later on.

[2017-10-04 09:17] maitscha commented on #132
Thanks for the info. There are already a lot of forks and developers using this lib. Is there a migration plan to passify, and will samlify be maintained later? I'm searching a node.js based SAML2 IdP ...

[2017-10-04 09:28] tngan commented on #132
@maitscha No worries, samlify is still in active maintained. Passify is a product partially driven by samlify, it doesn’t affect the release cycle of samlify.

[2017-10-04 10:03] ergoithz opened #133 "Unknown xmlns being used on AuthnRequest"
Non-defined namespace 'ds' is being used on signed AuthnRequest, which results on strictly invalid XML.

https://github.com/tngan/samlify/blob/6f4de03a70c7f79d5fb1765adb1c880d885f528b/src/libsaml.ts#L599

https://github.com/tngan/samlify/blob/6f4de03a70c7f79d5fb1765adb1c880d885f528b/src/libsaml.ts#L439

https://github.com/tngan/samlify/blob/6f4de03a70c7f79d5fb1765adb1c880d885f528b/src/libsaml.ts#L

[2017-10-04 17:20] tngan commented on #133
@ergoithz Yep, this part has to be enhanced after we introduce schema validation.

[2017-10-05 02:15] tngan commented on #130
@ahwitz Patched with v2.3.2

[2017-10-05 10:10] ergoithz commented on #133
Meanwhile you could simply add `{prefix: 'ds'}` signatureConfig to `sig.computeSignature` calls in both
https://github.com/tngan/samlify/blob/6f4de03a70c7f79d5fb1765adb1c880d885f528b/src/libsaml.ts#L443
and
https://github.com/tngan/samlify/blob/6f4de03a70c7f79d5fb1765adb1c880d885f528b/src/libsaml.ts#L445
as current SAML signed AuthnRequests are failling on most IdP due XML parsing errors.

[2017-10-05 13:22] #130 closed

[2017-10-06 23:35] haoleman opened #134 "configuration for alternative parameter for SAMLResponse"
Question really......

Is there a configuration option for setting the parameter name for  LoginResponse POST?  I have a request coming to my ACS, and the "saml response" parameter is not named SAMLResponse.  It would be handy to be able to override per IDP, if it does not exist.  Does the question make sense?

Thanks.

[2017-10-07 05:04] tngan commented on #134
@haoleman You can use the `logoutResponseTemplate`.

[2017-10-08 04:09] #132 closed

[2017-10-08 11:28] #134 closed

[2017-10-10 10:44] gtothesquare opened #135 "Is samlify suppose to handle multiple KeyDescriptor certificates for IDPSSODescriptor?"
I'm testing samlify with multiple Identity providers and I ran intro problems with Azure AD when using there `FederationMetadata.xmll` (more info on Azure AD [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-protocol-reference))

The metadata provided, contains multiple `KeyDescriptior` certificates as shown at the end of this post (I removed the actual c

[2017-10-10 11:27] tngan commented on #135
@gtothesquare  Yes, samlify is supposed to handle multiple key descriptors, apparently it is a bug. If you have already fixed it, I would be happy to accept a pull request, I will take care of the failed tests.

For the failed tests, it could be because of failed schema validation.

https://github.com/tngan/samlify/blob/13aff6a5ee22fd5ba5cc51d7b5b246d500c52ff6/src/libsaml.ts#L704-L708

[2017-10-10 13:45] #135 closed

[2017-10-10 13:52] gtothesquare commented on #135
@tngan damn, you are fast 🥇. Thanks!

[2017-10-11 02:40] tngan commented on #135
@gtothesquare For the failed build, it's a bit of weird in travis ci, sometimes when I rebuilt is good but sometimes isn't, I will change to use `npm install` instead of `yarn` in travis ci config later on.

The commit will be patched on this friday. 15:00 UTC

[2017-10-11 09:00] cyberbobjr commented on #129
I confirm the breaking change, with many major bugs if we use PaaS environnement (like Bluemix)

[2017-10-11 12:28] tngan commented on #129
@cyberbobjr Please provide more details about the major bugs in PaaS environment. Thank you so much.

[2017-10-13 16:22] tngan opened #138 "Investigate and fix unstable test build in Travis CI"

[2017-10-13 16:44] tngan commented on #138
Fixed and will patch again (v2.3.4) next friday around 15:00 UTC.

[2017-10-13 16:44] #138 closed

[2017-10-13 16:47] tngan commented on #117
Duplicated #135. Reopen if the fix doesn't solve the problem.

[2017-10-13 16:47] #117 closed

[2017-10-13 16:53] tngan commented on #115
@hammadzz I really appreciated your effort. Personally, I suggest to use and contribute passport-saml back if you really need to use passport. I will close this issue because I am not intended to start a new clone for bridging samlify and passport at this moment.

[2017-10-13 16:53] #115 closed

[2017-10-14 11:52] tngan commented on #133
@ergoithz Now there is no `ds:` prefix unless you add a prefix in `signatureConfig`.

[2017-10-14 14:47] #133 closed

[2017-10-15 15:56] tngan commented on #125
@hammadzz Due to inactivity for 3 weeks, and the email stated that it's possibly the known issue of handling canonicalization. I will close this issue first, and feel free to reopen if it's not fixed.

[2017-10-15 15:56] #125 closed

[2017-10-19 09:22] gtothesquare opened #140 "Is version 2.3.3 published on npm?"
I'm having issues with the latest npm deploy. I made sure version 2.3.3 was installed. However, the fix for parsing `SessionIndex` (was added in PR #137), is not working.

I tried installing it via pulling from the latest from master, building it locally (`yarn build`) and then installing via local file ref in the package json (`"samlify": "file:../samlify"`) and it works.

Not familiar with how p

[2017-10-19 14:29] tngan commented on #140
@gtothesquare It should be included. You can check out both `src/entity-sp.ts` and `build/src/entity-sp.js`, the pull request and its build are included.

[2017-10-20 13:54] gtothesquare commented on #140
@tngan is missing in the build
![image](https://user-images.githubusercontent.com/370567/31824287-dd2ea9fc-b5ae-11e7-9269-7b6c029a4c2d.png)

Here is the `ts` source
![image](https://user-images.githubusercontent.com/370567/31824337-0445de2a-b5af-11e7-8259-e637bb9bc976.png)

[2017-10-20 14:02] tngan commented on #140
@gtothesquare I have reinstalled samlify with npm, and check inside `node_modules`, the changes are included in the `entity-sp.js` line 110. Please also let me know which `npm` version you are using.

[code]

[2017-10-20 14:04] tngan commented on #140
@gtothesquare Please also send an email to `passify.io@gmail.com` if you still encounter same problem, we can probably schedule a call to get rid of it.

[2017-10-20 16:01] tngan commented on #140
@gtothesquare The deletion of changelog is not yet pushed to npm. I know what problem in my computer as well, the `node_module/samlify` folder somehow symlinks with my local development folder, so what I have seen is the build version, that's why I saw the changes. I will publish a new version for it now.

[2017-10-20 16:06] tngan commented on #140
@gtothesquare Sorry for causing inconvenience, it's bumped to v2.3.4 now.

[2017-10-20 16:06] #140 closed

[2017-10-20 16:15] tngan opened #142 "Fix build error caused from lodash.get in test (node v4, v6, v7)"
[code]

[2017-10-20 16:16] gtothesquare commented on #140
@tngan thanks!!!!

[2017-10-20 16:19] tngan commented on #140
@gtothesquare Before I published to npm, I would run test first, and the test script includes the build script as well. I will try to made a pre-push hook to streamline and avoid same issue from happening again, thank you for raising the issue. 👍

[2017-10-20 23:46] #142 closed

[2017-10-22 15:29] #90 closed

[2017-10-22 15:29] tngan commented on #90
Roadmap and pending feature list will be updated in README.md later on.

[2017-10-24 23:54] niswork commented on #129
I am sorry if this is not related to this particular issue, but I am receiving may "Warnings" while doing npm install. Here are these warnings...

`

  CXX(target) Release/obj.target/xmljs/src/libxmljs.o
../src/libxmljs.cc:69:17: warning: 'IsDead' is deprecated [-Wdeprecated-declarations]
    if (v8::V8::IsDead())
                ^
/Users/phatanga/.node-gyp/6.11.4/include/node/v8.h:6353:20: note:

[2017-10-25 00:24] tngan commented on #129
The warning message are quite annoying, will have to investigate.

[2017-10-25 16:12] tngan commented on #129
@niswork Which node version are you using ?

[2017-10-25 18:27] niswork commented on #129
Hi @tngan I am on node v6.11.4 & npm 3.10.10.

[2017-10-30 14:26] wwindcloud opened #146 "Many of the XML Namespaces are messed up or ignored when passing around and between libraries"
When extracting metadata from established IDP or SP, the namespaces seem to be messed up, or rather, samlify just pretend they did not exist except at the document node.

E.g. in IdpMetadata or SpMetadata, an xml string is generated at the constructor. However, the generated xml is considered malformed once their namespaces are taken into account.  I know it's because the underlying xml library do

[2017-10-30 14:38] tngan commented on #146
@wwindcloud Thanks for your feedback, I really appreciated that. I have tried to build from a minimal viable example. Since more and more people are using this library, we will try to include more validations like schema check following the SAML standard. I agree the namespaces things are quite messed up, and those assumptions will be removed as soon as we can. Pull requests are welcome as well.

[2017-11-02 06:48] AlexeySafronov commented on #129
Hi! I confirm the breaking change too.  Only v2.2.0 can be installed.

Windows 10 Pro
node v8.9.0
npm 5.5.1
yarn 1.2.1

[code]

[2017-11-02 07:14] tngan commented on #129
Some updates, I have discovered that the package.json of libxml-xsd is not updated, since according to their latest package.json, they are using libxmljs-mt@0.18 instead of 0.16.1. Please follow the issue I have reported [here](https://github.com/albanm/node-libxml-xsd/issues/25).

@AlexeySafronov Please take a look for this doc for window installation during the meantime.

https://github.com/alba

[2017-11-02 08:10] AlexeySafronov commented on #129
Thanks! It's helped me.

Can you add this note in Installation section for windows-developers?

[code]

[2017-11-02 08:16] tngan commented on #129
@AlexeySafronov I am thinking if I can do something in post-install hook.

[2017-11-03 01:29] tngan commented on #146
@wwindcloud The above two pull requested will be patched today around 15:00 UTC.

[2017-11-05 05:44] tngan commented on #146
Patched (#147, #148) in v2.3.5.

[2017-11-05 11:14] wwindcloud commented on #146
Hey @tngan, thanks for merging my pull requests. I think that's all the namespace fixes I have for now.

Another thing I have noticed, which is not namespace related. Perhaps to open another issue???

Well, I have found out IdentityProvider/ServiceProvider does not decode the metadata xml correctly if KeyDescriptor has no *use* attribute. According to spec, that is supposed to be a shortcut for sp

[2017-11-05 11:46] tngan commented on #146
@wwindcloud Thanks for your contribution. Besides, I have also written a short release note for every release and given credits to each contributor as well.

`Another thing I have noticed, which is not namespace related. Perhaps to open another issue???`

Yes, please open another one. For my short answer, you are right, this function will be eventually rewritten. If I don't understand wrongly, ser

[2017-11-05 11:46] #146 closed

[2017-11-07 11:12] stelescuraul opened #149 "Invalid metadata"
@Hello,

I have tried to create SP metadata using the following configuration:

[code]

The xml produced is:
`<EntityDescriptor entityID="TEST"
  xmlns="urn:oasis:names:tc:SAML:2.0:metadata"
  xmlns:assertion="urn:oasis:names:tc:SAML:2.0:assertion"
  xmlns:ds="http://www.w3.org/2000/09/xmldsig#">
  <SPSSODescriptor AuthnRequestsSigned="false" WantAssertionsSigned="true" protocolSupportEnumeration=

[2017-11-07 12:16] stelescuraul commented on #149
I saw the PR and the modifications for this. I updated the package locally and it works fine now :)

[2017-11-07 12:16] #149 closed

[2017-11-07 12:36] tngan commented on #149
@stelescuraul Glad to hear you have worked this out.

[2017-11-09 15:45] kiejo opened #150 "Incorrect signature error when verifying the signature of an utf8-encoded SAML response"
I get an "incorrect signature" error when verifying a response with a signed assertion that contains utf8-encoded characters in an `AttributeValue`.
I was able to track down the issue to the `base64Decode` function, which uses `ASCII` to encode the base64 decoded data:
https://github.com/tngan/samlify/blob/c71f9f6729d256383a689d5aa79e8c1af08bd7bc/src/utility.ts#L30
Changing it to use the default e

[2017-11-09 16:12] tngan commented on #150
@kiejo +1 for your nice catch and detailed report. Yes, utf-8 is definitely the better choice.

[2017-11-09 16:19] kiejo commented on #150
Nice, thanks for the fast response and merge!

[2017-11-10 14:17] tngan commented on #150
@kiejo  Patched with v2.3.6 and I have closed this issue. Thanks for your contribution.

[2017-11-10 14:17] #150 closed

[2017-11-17 07:17] tngan commented on #126
With prefix `ERR`

[2017-12-08 11:51] wwindcloud opened #153 "Signing SAML Response message results in invalid Signature (Reference URI is empty)"
I have a client complaining that we were generating an invalid signature in SAML response. After checking through the code, specifically in https://github.com/tngan/samlify/blob/fb36823a9df5ba1bc61bc22443d84c28bb430d17/src/libsaml.ts, the function constructSAMLSignature, I have found out it's passing **true** in the last argument to addReference. However according to SAML spec

Is there any reason

[2017-12-09 11:44] tngan commented on #153
@wwindcloud I am out of town these few days, sorry for the late reply. May I ask how is the SAML response being signed, assertion or entire message ?

I will review the steps of doing signature during weekend and help to get rid of it.

[2017-12-09 14:47] wwindcloud commented on #153
@tngan Actually this is a very minor issue as everything is doing pretty much ok. It's when some SP taking a strict security measure complaining the signed Response having an empty Reference URI attribute. That is if the root node is <samlp:Response ... ID="abc">...</samlp:Response>, then the signature generated should have a <Reference URI=\"#abc\"/> within <SignedInfo\/>.

The problem is that yo

[2017-12-11 13:05] darraghpjones opened #154 "Use case example location"
I'm having trouble locating/generating the examples discussed in the wiki documentation here:

https://github.com/tngan/samlify/wiki/Use-cases

Are these located somewhere else or is there specific instructions for generating them?

[2017-12-11 18:17] tngan commented on #154
@darraghpjones Those examples are removed since the commits included in this issue (#76).

[2017-12-11 18:23] tngan commented on #153
@wwindcloud Yes, this is because of the issue in root element signature (i.e. the message), the code to generate message signature is referred to this issue (https://github.com/yaronn/xml-crypto/issues/122).

I am currently overloaded during this few weeks, but pull request is absolutely welcome, and this repository is still actively maintained.

[2017-12-12 05:48] tngan commented on #154
@darraghpjones Feel free to ask questions via email passify.io@gmail.com, in case if you don't wan to expose your business logic and secret here.

[2017-12-12 14:52] gsvitak opened #155 "Support for ForceAuthn"
Hello

Curious if the library currently support setting ForceAuthn to make the IDP authenticate on every request.

Could you point me in the direction if we needed to implement this feature?

Thanks,
G

[2017-12-12 15:13] tngan commented on #155
@gsvitak Currently it's possible to override the default login request template, add `ForceAuthn` property inside and set its value during runtime. The following test example illustrates the usage for overriding template.

https://github.com/tngan/samlify/blob/56480f7852baba147389403cc5f3fe826c0f2e39/test/flow.ts#L181-L194

[2017-12-12 19:24] #155 closed

[2017-12-13 01:36] tngan commented on #155
@gsvitak We have it in documentation, see [here](https://samlify.js.org/#/template?id=custom-templates).

[2017-12-14 14:36] Antho2407 opened #156 "Error on the server side : Cannot read property 'SAMLResponse' of undefined"
Hey there ! I am trying to sort my onelogin sso authentification following this example :
https://samlify.js.org/#/onelogin

I'm a bit confused by this bit :
[code]
The "url" returned is actually an object ? I had to do ```url.context``` to get the url back

I am now trying to access ```myurl/sso/spinitsso-redirect``` but getting the following error :
```TypeError: Cannot read property 'SAMLRespon

[2017-12-14 15:31] tngan commented on #156
@Antho2407 Yes, I have to admit that the example is not being updated properly. The API has changed after a long discussion in this thread (https://github.com/tngan/samlify/issues/50). During the meantime of developing the separate example repository [passify/samlify-ap](https://github.com/passify/samlify-sp), you can basically refer to those test cases in flow.ts which cover most of the common us

[2017-12-14 15:35] tngan commented on #156
This is how we can kickstart sp-initiated sso.

https://github.com/tngan/samlify/blob/master/test/flow.ts#L130-L145

Another endpoint is created for accepting the response from your idp.

https://github.com/tngan/samlify/blob/master/test/flow.ts#L261-L274

In other words, idp-initiated sso is the last step of sp-initiated sso.

[2017-12-14 16:08] Antho2407 commented on #156
@tngan this was my original code :
[code]

[2017-12-14 16:28] tngan commented on #156
@Antho2407 The code looks fine. Did you see the url changed ? If everything goes correctly, you will be stopped by the onelogin portal (if you didn't login before, otherwise, the assertion service url /acs will be hit by the response from onelogin).

[2017-12-14 16:31] Antho2407 commented on #156
Yep it was redirecting me to onelogin and it's definitely trying to hit ```/acs```, but I'm getting the error described and nothing happens 😢

[2017-12-14 16:32] Antho2407 commented on #156
Was assuming something was wrong in my config

[2017-12-14 16:36] tngan commented on #156
The api of handler `parseLoginResponse` is changed, the following is the example.

So, can you log the `req.body` and see what is inside, possibly the parser is not set properly.

[code]

[2017-12-14 17:10] Antho2407 commented on #156
tried the following :
[code]
the SAMLResponse is apparently undefined (as was req.body)

[2017-12-14 17:13] tngan commented on #156
Then I guess you need the body-parser middleware. (https://www.npmjs.com/package/body-parser)

[2017-12-14 17:21] tngan commented on #156
For the above code you provided for debugging, it shows some configurations are missing as well. You have mentioned that onelogin does redirect back to /acs with a POST/ response, so I want to see what is inside the response as well, normally you can get the content from `req.body.SAMLResponse`.

I don't know your metadata right now, so I don't know what is exactly missing. If you don't want to ex

[2017-12-15 11:01] Antho2407 commented on #156
@tngan The body parser was definitely part of the issue, added the middleware and tweaked a bit the configuration, i'm now getting a SAML response back, thanks a lot !

Will close the issue for now and reopen it if i'm having new issues

[2017-12-15 11:01] #156 closed

[2017-12-15 11:02] tngan commented on #156
@Antho2407 Cool, glad to hear that you have solved the problem.

[2017-12-18 23:07] jamespedid opened #157 "RelayState not being returned in parseLoginResponse"
Hello; it would appear that the RelayState parameter is not being returned in the sp.parseLoginResponse payload. Is this intentional?

[2017-12-20 03:50] tngan commented on #157
@jamespedid We haven't included it in the parser for login response yet, but it's possible. Please also let me know more about your use case. Of course, pull request is welcome.

[2017-12-21 03:10] #154 closed

[2017-12-28 21:31] romitamgai opened #158 "Could not use types"
I want to define an interface in my project:
[code]
But I am getting an error saying `Property 'serviceProvider' of an exported interface has or is using the private name 'ServiceProvider'.`

Another issue is if I try to build my project I get an error:
[code]

[2018-01-01 16:38] tngan commented on #158
@romitamgai `ServiceProvider` is exported as an instance of a class by default, not a class.

https://github.com/tngan/samlify/blob/c71f9f6729d256383a689d5aa79e8c1af08bd7bc/src/entity-sp.ts#L26-L28

If you want to extends the class yourself, you should possibly import with a deeper link, such that

[code]

[2018-01-02 04:39] romitamgai commented on #158
Thanks @tngan for your response. When I try your method I get following transpile error in my project:
[code]

[2018-01-02 10:30] tngan commented on #158
@romitamgai Can you show me your `tsconfig.json` ?

[2018-01-02 10:35] romitamgai commented on #158
@tngan Here is my tsconfig.json
[code]

[2018-01-22 03:01] gsvitak opened #159 "Signed AuthN request does not appear to produce valid signature"
Hello,

Thank you for the great work.

I am really stumped and would like to share my findings to see if anyone can suggest a resolution. We have v2.2.0 working in production with IDPs that do not require a signed authn request. We now have to add support for a signed request via HTTP-Redirect.

I have tried to follow the documentation and it appears v 2.3.6 does not produce a valid signature that

[2018-01-23 18:54] gsvitak commented on #159
Update.. we figured out the issue. It appears the main issue was an XML namespace issue. The service provider metadata file was missing a namespace on the KeyDescriptor element. I think we might made a dumb mistake because we might have copied and pasted from one of the examples that did not have namespace elements.

Thanks again for the hard work.

[code]

[2018-01-23 18:54] #159 closed

[2018-01-23 19:01] tngan commented on #159
@gsvitak Glad to hear you have worked this out.

[2018-01-26 22:24] mathmans opened #160 "error with angular2"
Hello,

I try to add your module to an angular2 application and I have these compilations errors

![image](https://user-images.githubusercontent.com/13812903/35463264-0d89e614-02f0-11e8-84d0-3e162a0ad55c.png)

[2018-01-30 16:13] tngan commented on #160
@mathmans Would you like to make a sample boilerplate repo or gist for the ng2 application ?

[2018-01-30 16:14] tngan commented on #158
@romitamgai I can reproduce this issue, will seek for a fix during the coming weekend.

[2018-02-01 13:37] nilsve opened #162 "Making x509 cert in auth response optional"
I have created a SSO link with a Dutch school IDP, and had trouble with samlify not being able to parse their login response.

Samlify expected the IDP to always include the certificate in the response, but the IDP doesn't.

I have made it optional in my fork, it will first look for a certificate in the response, and will fall back to the metadata.xml certificate if it can't find one.

https://git

[2018-02-02 00:24] osuvaldo90 opened #163 "Why is the relayState attribute a part of EntitySettings?"
Perhaps it is my misunderstanding of the SAML protocol but it seems as if it would make more sense to have `relayState` as a parameter to `createLoginRequest()`.

[2018-02-02 08:56] tngan commented on #163
@osuvaldo90 I quickly review the code, in fact, right now you can pass the `relayState` in the entity constructor.

[code]

[2018-02-02 18:18] osuvaldo90 commented on #163
Thanks @tngan. My concern is mainly with using `RelayState` to communicate back to my service provider what the user wanted to do before being redirected to the identity provider. The fact that `relayState` has to be specified in the `ServiceProvider` constructor means I have to create a new instance of ServiceProvider for every request which involves parsing the XML metadata. While the XML is sma

[2018-02-02 18:22] osuvaldo90 commented on #163
The (SAML 2.0 Wikipedia page)][https://en.wikipedia.org/wiki/SAML_2.0] seems to imply that `RelayState` is certainly a property of the login request and response flow rather than the `ServiceProvider` as a whole.

[2018-02-13 22:47] syntacticsolutions opened #164 "Okta Authentication / How to authenticate when IDP metadata is external"
Hi, I was looking through your documentation and I noticed that the idp metadata is required to parse the SAML response. My IDP is external and I'm not sure how to provide the information that is needed to make the framework work properly.  With passport I just pass the EntityID, SAML path, entrypoint, and x.509 cert to the framework and it knows how to handle it.

I was also looking through your

[2018-02-14 08:48] tngan commented on #164
@syntacticsolutions

In common practice, IdP would provide metadata for you to integrate to your current application like Okta and OneLogin. Does your external IDP provide you a metadata ? Otherwise, I think you can make one. In fact, we don't need user to import metadata but construct the entity instance by simply passing in minimal required information, e.g. EntityID, entrypoint, cert. I think w

[2018-02-14 08:50] tngan commented on #163
@osuvaldo90

Sorry for the late reply. Thanks for catching this. Yes, it would be good to move it into request level instead of entity level.

[2018-02-14 08:54] tngan commented on #162
@nilsve

Thank you so much for reporting this use case. We may consider to integrate a flag in entity level for this use case in the near future. Let me close it first, and will link a new issue to it later on when we start working on the enhancement.

[2018-02-14 08:55] #162 closed

[2018-02-14 11:48] syntacticsolutions commented on #164
I ended up figuring it out. I was getting a SAML assertion from my IDP that
was encoded in base64. All I needed was to decode it and parse the xml out
to get the attributes I wanted. I don't think it's the same scenario here.

You can close this ticket for now :)

Thank you!

On Feb 14, 2018 12:48 AM, "Tony Ngan" <notifications@github.com> wrote:

[2018-02-14 13:04] #164 closed

[2018-02-19 12:30] nilsve opened #165 "Memory leak in parseLoginRequest"
Ever since we upgraded from express-saml to samlify, our servers are crashing daily because of a memory leak in combination with the volume of requests we receive. We have narrowed it down to the `isValidXml` function, which gets called from `parseLoginRequest`.

I have looked around for a bit, and it seems the problem lays deep somewhere in native C++ code.

We're going to try to change to the `x

[2018-02-28 21:09] ikkisoft opened #166 "parseLoginResponse does not validate the SAML Assertion Expiration (NotBefore, NotOnOrAfter)"
It appears that this library does not validate the SAML assertion expiration by default. I've verified on a testing setup and the _NotBefore_, _NotOnOrAfter_ fields are not checked.

According to https://github.com/tngan/samlify/blob/1c081f95c074c9ee95a3fcaade4930a17cf16c67/docs/saml-response.md

In my opinion, this should be considered as a security bug since I would expect something as important

[2018-03-01 01:57] tngan commented on #166
@ikkisoft Yes, there is a proposal on #111. We will handle the basic validation soon.

[2018-03-01 07:29] ikkisoft opened #167 "node-forge dependency vulnerable to Regular Expression Denial of Service"
One of the dependencies of Samlify - **node-forge** is affected by a known RegExp DoS vulnerability.

* _samlify@2.3.6 > node-forge@0.7.1_
* _samlify@2.3.6 > xml-encryption@0.11.0 > node-forge@0.7.1_

See for more details
https://snyk.io/vuln/npm:node-forge:20180226

Once the maintainer fixes the issue, you would need to bump the version of both deps.

[2018-03-01 07:31] ikkisoft commented on #166
Great, missed that it was already mentioned somewhere.

May I suggest to create a label "security" so it's easy for people like me to understand open issues with security implications. Thanks!

[2018-03-01 07:35] tngan commented on #166
@ikkisoft Sure. Let me link this issue back to #111. Then I will close this one as well.

[2018-03-01 07:37] #166 closed

[2018-03-07 17:53] kevinbror opened #168 "Why allow only one entity descriptor in metadata?"
This [line](https://github.com/tngan/samlify/blob/c46c73f0125a6003d3014a4099f4dd8ba0509b3f/src/metadata.ts#L47) throws an error if there is more than one entity descriptor. Why is that?

[2018-03-09 02:51] tngan commented on #168
@kevinbror The entity descriptor is supposed to be the root element. See section 2.3 [here](https://www.oasis-open.org/committees/download.php/56785/sstc-saml-metadata-errata-2.0-wd-05.pdf).

[2018-03-09 03:10] tngan commented on #167
@ikkisoft Some updates on this critical issue.

node-forge is upgraded to 0.7.4 to fix this issue two days ago, I have opened a [pull request](https://github.com/auth0/node-xml-encryption/pull/42) to xml-encryption to fix that as well.

[2018-03-09 03:12] tngan commented on #165
@nilsve Thanks for your update. I am also considering to replace the xml validation with some libraries else since the current one introduces a lot of problems.

[2018-03-10 05:07] tngan commented on #160
@manuvalle Since it's not being updated for a while, I will close it first. Please reopen if needed.

[2018-03-10 05:07] #160 closed

[2018-03-12 22:25] mikevbaker opened #169 "Migrating from express-saml2"
Hi. Thanks for all the work you put in on this. I'm looking at the steps needed to change over from express-saml2 to samlify and I have a question about the sample. I used the IdP, SP1 and SP2 samples from express-saml2 to figure out how to implement. The sample code in [this doc](https://samlify.js.org/#/onelogin) has just about everything I have, but in my code I have a handler for * that checks

[2018-03-13 00:51] tngan commented on #169
@mikevbaker For samlify-sp, this is the example for dynamically configuration of identity provider on-the-fly. And those functionalities, for examples send request, parse response are still WIP (due to my recent heavy daily workload, it won't be finished by the end of Q1). By following the example in the doc, you should be able to make the first pass.

I am happy to be your helping hands in order

[2018-03-18 00:26] mikevbaker commented on #169
I have an update for this. I haven't touched this project for over a year and I had to spend some time figuring out the debugger again. Once I did that I think I figured out an issue with the documentation. In the [OneLogin](https://samlify.js.org/#/onelogin?id=work-with-onelogin) doc the redirect works like this

[code]

The problem is that the `createLoginRequest(idp, 'redirect');` function retu

[2018-03-18 04:19] tngan commented on #169
@mikevbaker Yes, the API got changed in the version (>=2), the documentation is not updated, thanks for your report.

[2018-03-18 04:20] tngan opened #170 "Update documentation"
- [x] API change
- [ ] Logout service

[2018-03-18 04:21] tngan commented on #105
Group in #170

[2018-03-18 04:21] #105 closed

[2018-03-21 16:41] tngan commented on #167
@ikkisoft The new version is just released to v2.3.7. Checkout the release note [here](https://github.com/tngan/samlify/releases/tag/v2.3.7). Thank you so much again 👍 .

[2018-03-21 16:41] #167 closed

[2018-03-21 16:44] #165 closed

[2018-03-21 16:45] #153 closed

[2018-03-26 07:50] tkssharma commented on #129
i am having same issue

[code]

[2018-04-02 12:21] tkssharma opened #172 "Where are these express example !!"
Use cases

For those who may be interested, there are three express application simulating one identity provider and service provider.

[2018-04-06 12:24] bhamon opened #173 "NameIDFormat incorrectly replaced and usage"
The issue #67 corrects a naming problem in `binding-redirect.ts`. There is the exact same problem in https://github.com/tngan/samlify/blob/6612d586274b51f0ebe521a4be27e232bb3d2a4b/src/binding-post.ts#L44.

Apart from that, I can't find any way to use the `loginNameIDFormat` nor the `logoutNameIDFormat`.
The `ServiceProviderSetting` definition doesn't seem to allow those properties anymore: https:/

[2018-04-12 02:43] tngan commented on #173
@bhamon Good catch, will fix it soon.

[2018-04-18 12:02] litianc commented on #156
@Antho2407 @tngan  I also meet the same problem.
I install the body-parser with `npm install body-parser`, but the error is still there.
TypeError: Cannot read property 'SAMLResponse' of undefined
How did you solve the problem with body-parser? Could you show me the code?

[2018-04-19 10:44] samgauklrna opened #174 "Syntax error in type libsaml.d.ts"
Using
[code]

Results in syntax error when compiling

[code]

I've cloned and built project and did not end up with the same issues. Has something went wrong while uploading to npm?

The block that has issues in libsaml.d.ts
[code]

[2018-04-19 14:45] tngan commented on #172
@tkssharma Sorry for late reply. I didn't have enough time to work on it recently. Basically, most of the common use cases can be found in the test file including login and logout flow with different binding.

[2018-05-01 22:45] slimm609 opened #175 "namespaces missing and other namespaces being modified"
We are seeing an issue where the namespaces are getting changed after decryption but before signature validation.

[code]

[code]

As you can see it modified the attribute namespaces, add a signature namespace, dropped assertion and response namespaces and modified the issuer namespace.   this is causing it to fail signature validation.

[2018-05-02 15:13] dhruvbhatt22 commented on #174
I am using angular CLI and getting the same error as above on the same lines mentioned by [samgauklrna](https://github.com/samgauklrna)

 `ERROR in node_modules/samlify/types/src/libsaml.d.ts(99,23): error TS1005: ';' expected.
node_modules/samlify/types/src/libsaml.d.ts(99,24): error TS1131: Property or signature expected.
node_modules/samlify/types/src/libsaml.d.ts(105,28): error TS1005: ';' exp

[2018-05-03 13:59] tinque opened #176 "problem with sp.createLoginRequest"
In the documentation you have the following exemple :
[code]
but the method `sp.createLoginRequest(idp, 'redirect')` return the object :
[code]

Is it a documentation problem or a bug ?

[2018-05-03 14:01] tngan commented on #176
@tinque The documentation isn't updated.

[2018-05-03 14:02] tinque commented on #176
Thanks !

[2018-05-03 14:03] tngan commented on #176
@tinque I will updated it soon. Thanks for catching it.

[2018-05-03 14:09] tinque opened #177 "Cannot read property 'SAMLResponse' of undefined"
I use this code to parse the saml response with express :
[code]
but I have the following error :
[code]

[2018-05-03 14:11] tngan commented on #177
@tinque You can check this #156 for more information.

[2018-05-03 14:15] tinque commented on #177
Sorry i didn't find this issue. Thanks a lot for your answer !

[2018-05-03 14:15] #177 closed

[2018-05-03 14:17] tngan commented on #177
@tinque In fact, feel free to reopen this issue or extend the discussion in #156 if you have encountered further questions.

[2018-05-04 16:50] #176 closed

[2018-05-04 16:54] tngan commented on #172
@tkssharma Please reopen this ticket if you have encountered problems in your implementation.

[2018-05-04 16:54] #172 closed

[2018-05-04 16:54] tngan commented on #169
@mikevbaker The documentation has been finally updated for the change.

[2018-05-04 16:54] #169 closed

[2018-05-04 16:56] #173 closed

[2018-05-04 16:57] tngan opened #178 "Typescript related issues"
Group those related issues in single ticket.

- [x] #174 Syntax errors in libsaml.d.ts
- [ ] #158 Could not use types

[2018-05-04 17:29] tngan commented on #157
@jamespedid Since it's not being updated for 3 months, I will close this and continue the discussion to #163. We may change the way to handle relay state.

[2018-05-04 17:29] #157 closed

[2018-05-04 17:47] tngan commented on #127
This test case should cover the use case, parsing response with signed message and signed assertion.

https://github.com/tngan/samlify/blob/5537489b83320e1d99bd116e4bf761c148692d30/test/flow.ts#L341-L357

FYI: In `xml-crypto`, the signature verification doesn't require the document includes signature. You can check out the note section [here](https://github.com/yaronn/xml-crypto#verifying-xml-docu

[2018-05-04 18:34] mikevbaker commented on #169
Thanks! J

From: Tony Ngan [mailto:notifications@github.com]
Sent: Friday, May 04, 2018 11:55 AM
To: tngan/samlify
Cc: Mike Baker; Mention
Subject: Re: [tngan/samlify] Migrating from express-saml2 (#169)

@mikevbaker <https://github.com/mikevbaker>  The documentation has been finally updated for the change.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2018-05-15 12:52] JbIPS opened #179 "Binding typo in redirect"
Hello,

I spotted a weird thing in the [binding-redirect file](https://github.com/tngan/samlify/blob/master/src/binding-redirect.ts#L98): is `binding.post` on purpose or is it a typo?

Thanks

[2018-05-16 01:53] tngan commented on #179
@JbIPS Sorry for the late reply. The URL specified by assertion consumer service is where the IDP's response hits SP, it only supports POST binding and Artifact binding but we only support POST binding.

FYI: [Section 4.1.2-5 Identity Provider issues <Response> to Service Provider](http://docs.oasis-open.org/security/saml/v2.0/saml-profiles-2.0-os.pdf)

[2018-05-16 08:29] nazarkulyk commented on #129
Having same issue on linux and macosx
`

make: Entering directory '/usr/src/app/node_modules/libxmljs-mt/build'
  CXX(target) Release/obj.target/xmljs/src/libxmljs.o
../src/libxmljs.cc: In function 'void libxmljs::adjustMem(ssize_t)':
../src/libxmljs.cc:69:9: error: 'IsDead' is not a member of 'v8::V8'
     if (v8::V8::IsDead())
         ^~
make: *** [xmljs.target.mk:159: Release/obj.target/xmljs/

[2018-05-25 10:44] christiaanwesterbeek opened #180 "TypeError: idp.entityMeta.isWantAuthnRequestsSigned is not a function"
With samlify 2.3.7:

[code]

I get:

I couldn't find any other report with the same problem and I'm still learning samli(ify).

What am I missing?

[2018-05-25 10:56] christiaanwesterbeek commented on #180
As the SP, `/metadata` is not exposed yet. Could that be causing the TypeError?

In other words, do I just need to implement this?

[code]

[2018-05-25 13:53] christiaanwesterbeek commented on #180
I have now built a completely new app that's basically the same as this: https://samlify.js.org/#/onelogin , but I get exactly the same error message when a get

`http://localhost:3000/sso/spinitsso-redirect`

I'm definitely missing something obvious...

[2018-05-27 18:31] arelg opened #181 "snyk prevents installation"
as snyk reports indicate
https://snyk.io/vuln/npm:samlify

they say the package has high vulnerabilities.
is there any fix?

[2018-05-27 18:38] tngan commented on #181
@arelg That issue is related to XML Signature Wrapping, it affects the version before 2.3.0 and that issue is already being addressed.

[2018-05-27 18:41] tngan commented on #180
@christiaanwesterbeek

From your code in the first post.

[code]

You should use `saml.IdentityProvider` instead of `saml.ServiceProvider` when you define an IdP.

[2018-05-27 18:54] christiaanwesterbeek commented on #180
That's an unfortunate oversight on my part. I'll fix that asap and report back. Thanks for taking the time to verify it my code snippet. Really appreciate it.

[2018-05-27 19:14] arelg commented on #181
i see, thanks for quick response

[2018-05-27 19:14] #181 closed

[2018-05-28 07:37] tngan opened #182 "Module revamping"
This is an issue for code base revamping without changing API interface.

[2018-06-05 23:35] mikevbaker commented on #169
Hey Tony,

I finally got around to writing that article on my experience putting samlify to work in AWS. If you’re interested you can find it here for the time being…

http://relianceinteractive.com/Articles/angularjs-aws-and-sso/angularjs-aws-and-sso.htm

Let me know if you want me to make any corrections.

Mike

From: Michael Baker [mailto:Mike.Baker@RelianceInteractive.com]
Sent: Friday, May 04

[2018-06-12 14:07] Chrn opened #183 "XML escape characters are not encoded"
Hi,

I noticed when the metadata xml contains any escape characters such as `&amp;`, when it is encoded into the SAMLRequest xml escaped character is not encoded properly and only the `&` gets encoded.

Metadata

[code]

SAML Request

`
SAMLRequest=fZJfT8IwFMW%2FytIH3%2FaPTTIahkGIkQSVCPrgi%2Bm6O2jo2tnbqnx7y9BEH%2BSlSU%2Fvuff82o6RtbKjU2d36hHeHKANPlupkPYHJXFGUc1QIFWsBaSW0%2FX0bkkHUUI7o63mWpJflvMOhgj

[2018-06-18 10:32] #174 closed

[2018-06-18 16:39] AdamContois opened #184 "NPM install fails when building libxmljs-mt"
Hi,

I am trying to run `npm install samlify` but when I do it fails to build, returning back the following error.

s\acontois\workspace\ps\ps\node_modules\libxmljs-mt\build\xmljs.vcxproj]

I am using...
node v10.1.0
node-gyp v3.6.2
npm v5.6.0

Any help here would be appreciated

[2018-06-18 16:49] tngan commented on #184
@AdamContois  We can continue the discussion in #129. May I also know which OS version are you using?

[2018-06-18 16:51] #179 closed

[2018-06-18 16:59] tngan commented on #184
Confirmed that installation is broken in Node v10 [(FYI)](https://travis-ci.org/tngan/samlify/jobs/393726530). Meanwhile, you may try latest Node.js v8 first.

[2018-06-19 21:20] AdamContois commented on #184
@tngan Thank you, Node 8 works fine

[2018-06-22 17:54] franklinjjeng opened #185 "single logout service"
Hi @tngan, I'm utilizing your library and loving it.

I was just curious about single logout service. I noticed in issue #170 and #105 there are references that it exists but I can't seem to find anything in the code base to create logout requests through the SP or even accept IdP-initiated requests. I was wondering if you would be able to point me in the direction of them.

Thanks for your time.

[2018-06-23 17:14] franklinjjeng commented on #185
Thanks! I appreciate the quick response. This looks to be what I needed, I'll play around with it some.

Also off topic, but wondering if there is a quick way to turn off X509Certificate requirement in the SAMLResponse (I can open a new question/issue if needed)

[2018-06-24 02:44] tngan commented on #185
@franklinjjeng There is no option to turn it off right now. I am also considering to make the signature optional for testing use. For feature request, please open a new issue. Thanks.

[2018-06-25 14:30] Shelby-OL commented on #184
Went through about 1 hour of troubleshooting what I thought was a bad setup before realizing this. 100% a Node 10 issue, running Node 8 works fine for me.

[2018-06-25 14:34] tngan commented on #184
@Shelby-OL Sorry for the inconvenience, I will create another issue for Node v10 supports.

[2018-06-25 14:34] #184 closed

[2018-06-25 14:35] tngan opened #186 "Support Node.js v10"

[2018-06-25 14:36] tngan commented on #184
All Node.js v10 related issues will be addressed in the thread #186.

[2018-07-03 09:02] thaniyarasu commented on #129
npm install samlify

make: Entering directory '/home/us1/github.com/mcguinness/demo/node_modules/libxmljs-mt/build'
  CXX(target) Release/obj.target/xmljs/src/libxmljs.o
../src/libxmljs.cc: In function ‘void libxmljs::adjustMem(ssize_t)’:
../src/libxmljs.cc:69:17: error: ‘IsDead’ is not a member of ‘v8::V8’
     if (v8::V8::IsDead())
                 ^~~~~~
xmljs.target.mk:159: recipe for target '

[2018-07-04 01:38] tngan commented on #129
I am currently evaluating and testing another library to do scheme validation.

[2018-07-04 06:51] eoftedal opened #187 "Please avoid github dependencies in package.json"
Please use published npm dependencies instead of github dependencies:
[code]

[2018-07-06 09:43] benbabic opened #188 "Expose InResponseTo in parseLoginResponse extract"
My broader use case is that I want to validate the response to my SP initiated login in a way that guarantees that a response can only be used once. For that I store the login request id provided by  `sp.createLoginRequest` and would like to check that the `InResponseTo` field matches that id.

Does that sound legit? If so, would it be possible to extract the `InResponseTo` saml field and set it o

[2018-07-07 05:50] tngan commented on #188
Yes, I am happy to accept the PR.

[2018-07-09 03:38] tngan commented on #187
@eoftedal Thanks for raising this, it's being avoided.

[2018-07-09 03:38] #187 closed

[2018-07-09 08:10] benbabic opened #189 "npm audit reports 5 vulnerabilities"
I started working on a PR, and ran npm install, which prompted me to run npm audit which shows some vulnerabilities in the dependencies - see attached [audit.txt](https://github.com/tngan/samlify/files/2175206/audit.txt)

Do you have a strategy around this? Updating the dependencies should work but some of the dependency fixed their vulnerabilities in a major patch.

[2018-07-09 10:28] #188 closed

[2018-07-10 16:25] benbabic opened #191 "Next release"
Yet another question (sorry about that):
Do you know when the next release is going to be? I haven't found any workarounds for #174 and can't use the last release because of that.
Is there any plan for a bugfix type release with the fix from https://github.com/tngan/samlify/commit/ddaf5fa2bf89feaf802cc724bdaf0d51825d8df1 or should I use the previous version?

[2018-07-10 18:57] tngan commented on #191
@benbabic It's being published (v2.3.8) in npm.

[2018-07-11 01:58] #191 closed

[2018-07-22 16:53] tngan commented on #185
Since this issue is not updated for a while, I will close this first. Please reopen it if needed.

[2018-07-22 16:53] #185 closed

[2018-07-22 17:02] tngan commented on #186
This is resolved after the PR #192

[2018-07-22 17:02] #186 closed

[2018-07-22 17:13] #189 closed

[2018-07-22 17:14] tngan commented on #189
This is being resolved by updating the dependencies with moderate vulnerabilities. Thanks for reporting. See commit 766a290.

[2018-07-22 17:31] tngan commented on #129
I have updated samlify, using with new schema validator.

https://github.com/nikku/node-xsd-schema-validator

It is using Java runtime library to do the schema validation, and it should be more stable than the one we have chosen before. I haven't released the new version to npm repository yet, but if you want to try it out, you can try the latest code base in master branch first by modifying your

[2018-07-23 11:33] microadam opened #193 "Pre-commit hook"
Running `yarn install samlify` fails with the following:

`<path to project dir>/node_modules/samlify/.git/hooks/pre-commit: No such file or directory`

Surely this should only be run when developing on the module?

Currently samlify gets removed next time I do anything with yarn, as the `yarn.lock` file doesn't get updated as it thinks the module didn't get installed correctly.

[2018-07-25 15:30] tngan commented on #193
@microadam You are right, I remove that postinstall hook.

[2018-07-25 15:45] microadam commented on #193
awesome, thank you! If you are able to release a new version with this fix in soon, that would be great!

[2018-07-25 17:50] tngan commented on #193
@microadam Please refer to the release note [here](https://github.com/tngan/samlify/releases/tag/v2.4.0-rc1).

[2018-07-25 17:50] #193 closed

[2018-08-01 19:31] franklinjjeng commented on #185
Hi @tngan. I'm having trouble passing both the emailAddress and the sessionIndex in the logout redirect saml response. It seems to be passing the emailAddress without issue, but the sessionIndex is getting left out.

I'm attempting to build the redirect logout request below
```const { context } = sp.createLogoutRequest(idp, 'redirect', { logoutNameID: emailAddress, sessionIndex: sessionIndex });``

[2018-08-01 20:58] franklinjjeng opened #196 "Can't pass sessionIndex in sp logout"
It looks like I couldn't reopen my closed question from before. Sorry for the duplicate.

Hi @tngan. I'm having trouble passing both the emailAddress and the sessionIndex in the logout redirect saml response. It seems to be passing the emailAddress without issue, but the sessionIndex is getting left out.

I'm attempting to build the redirect logout request below
```const { context } = sp.createLog

[2018-08-02 08:25] eliasson commented on #163
I monkey patch the `entitySetting` prior to the call (to avoid recreating the sp object), is there any implications on doing this as a workaround?

[code]
_(omitted code for restoring relayState value)_

Would a change to move this to a parameter for `createLoginRequest` instead be a good entry-level feature for a contributor?

Thanks!

[2018-08-06 18:15] franklinjjeng commented on #196
In researching the package further I'm seeing that the default logout template doesn't appear to include the sessionIndex
[code]

[2018-08-06 23:14] franklinjjeng commented on #196
I created a PR #197 that should take care of this. I added `<samlp:SessionIndex>{SessionIndex}</samlp:SessionIndex>` into the `defaultLogoutRequestTemplate` and now it's showing up in my tests SAML calls. Let me know what tweaks I need to make or if SessionIndex is not always expected and only need to call it conditionally.

[2018-08-10 13:21] rastko-florencehc opened #198 "Invalid X509 Serial Number Problem"
When having a SAML response with xml that contains:
[code]

calling:
[code]

raises following error:
[code]

Any ideas how can I fix this?

[2018-08-12 04:37] tngan commented on #198
@rastko-florencehc Which version of samlify are you using ?

[2018-08-13 08:11] tiagoernst opened #199 "help wanted with samlify custom template post binding"
Hello I am trying to use the custom template attribute for a my saml request but i don't understand what is the purpose or how should I implement the replaceTagFromTemplate ,the example function in the documentation :
"When you apply your own template, remember to do custom tag replacement when you send out the request. replaceTagFromTemplate is just the name here to illustrate but it's not fixed.

[2018-08-13 11:06] rastko-florencehc commented on #198
It's 2.3.3

[2018-08-13 16:49] tngan commented on #198
@rastko-florencehc Can you try the serial number with length less than 24 digits ? There is a [bug report](https://mail.gnome.org/archives/xml/2008-March/msg00051.html) for this.

[2018-08-13 17:24] tngan opened #200 "Investigate the stability of build"
![image](https://user-images.githubusercontent.com/10245912/46020323-acf25400-c110-11e8-902c-c1b7683d066f.png)

It sometimes doesn't pass through the build because of the failure in schema validation.

[2018-08-13 17:32] tngan commented on #129
@microadam Yes, this is the way we consider to get rid of those build issues across most of the platforms. However, I would consider the make this part out of the box in the near future, allowing to plug different schema validator with this library.

[2018-08-13 19:20] rastko-florencehc commented on #198
@tngan Yes, we have some other cases where serial number is less than 24 digits and it works. Can you recommend any solution for this?

[2018-08-14 19:36] franklinjjeng commented on #196
As tngan mentioned in the PR #197, you can use a custom template to handle this.

Just make sure to follow the function sig values for createLogoutRequest.

[2018-08-14 20:18] franklinjjeng commented on #196
With the new template, the ID, Destination, Issuer, IssueInstant, etc don't change and need to be included in the customTagReplacement function.

[2018-08-15 01:13] tngan commented on #199
@tiagoernst There is a test case telling how to make a custom template of saml request with post binding. You can define your own template and do the tag replacement in the callback of `createLoginRequest`.

https://github.com/tngan/samlify/blob/031cafdbb068dd32c4ec247bf829ab0598701046/test/flow.ts#L184-L202

[2018-08-15 01:29] tngan commented on #198
@rastko-florencehc Since some CAs use large number to prevent sequence guessing, but not all xml libraries are able to handle this big integer (at least not the one 2.3.3 is using). [Ref: Section 2.6.2](http://docs.oasis-open.org/security/saml/Post2.0/sstc-saml2-holder-of-key-cs-02.pdf)

And the workaround (I haven't tried it but you can definitely give it a try) is to define the schema for `ds:X5

[2018-08-15 06:43] tiagoernst commented on #199
Thanks ! I ended up creating two SP's to have the values of signatures from the "default" request and replaced them in the template request ^^

[2018-08-15 06:43] #199 closed

[2018-08-15 14:44] jarkko-koski opened #201 "Custom loginResponseTemplate problem"
I'm using IDP initiated case, so I cannot have InResponseTo field in loginResponseTemplate.
I thought of using custom   idp.entitySetting.loginResponseTemplate  to give such template.
Then the logic mandates having customTagReplacement function. Don't really need that, so
thought of using the stock one:  libsaml.default.replaceTagsByValue, but it is not given
the tag values.
How is that mechanism

[2018-08-15 16:32] franklinjjeng commented on #201
There is a check to see if a custom template is involved. If one is found, it routes to the part of the code requires the `customTagReplacement` function. I had a similar issue with using a custom logout template. I put in a PR #202 that basically adds the required/basic tags back into the `customTagReplacement`. If accepted, I imagine the same thing can pretty much be done to any custom login/log

[2018-08-16 10:53] juckerf commented on #173
am I wrong or is there still no way to set loginNameIDFormat/logoutNameIDFormat?

[2018-08-17 11:18] tngan commented on #173
@juckerf Just pass in `logoutNameIDFormat` in the entity (sp/idp) constructor.

For the value of `loginNameIDFormat`, it is well defined as the one of the following values. (e.g. `emailAddress` ... )

https://github.com/tngan/samlify/blob/031cafdbb068dd32c4ec247bf829ab0598701046/src/urn.ts#L24-L31

[2018-08-17 12:03] juckerf commented on #173
@tngan
hmm... if I create a new ServiceProvider as follows, the `nameIdFormat` in the login request sent to our 3rd party IdP (shibboleth) remains `emailAddress`:
[code]
resulting login request:
[code]

(I'm using samlify 2.4.0-rc1)

[2018-08-17 12:31] rastko-florencehc commented on #198
@tngan thank you! I'll give it a try.

[2018-08-19 18:40] tngan commented on #198
@rastko-florencehc Feel free to let me know if you resolve this issue.

[2018-08-20 18:03] franklinjjeng commented on #196
@tngan I saw that the PR was accepted. Do you have a timeline on your next version publish? If you have no plans on making it soon, I can try to make side version of this for the time being. Thanks!

[2018-08-22 16:27] #196 closed

[2018-08-22 16:27] tngan commented on #196
2.4.0-rc2 is released

[2018-08-30 08:06] jacqt commented on #127
I think I am currently running into a similar problem

After commenting out this line https://github.com/tngan/samlify/blob/master/src/libsaml.ts#L469 I was able to get samlify to validate the SAML response.

What was the reason behind this line?

@tngan

[2018-09-05 22:53] pwilletts opened #203 "JDK required at JAVA_HOME or in path to compile helper"
Hello,
Having an issue when parsing SAML Response.  My express.js code looks like the below to received the response:

router.post('/login/saml/sso/longhorn', function(req, res, next){
  sp.parseLoginResponse(idp, 'post', req)
    .then(parseResult => {
      console.log(parseResult);
    })
    .catch(console.error)
  //res.redirect('https://mernapdevv.nhrmc.local');
})

When the response is rout

[2018-09-06 01:12] tngan commented on #203
https://github.com/nikku/node-xsd-schema-validator/blob/fac2fb3f9ee6d1c8bbc993a2ba857a01d44b1f79/lib/validator.js#L9-L25

The error is thrown in line 25.

If you are not set `JAVA_HOME`, the validator assumes you have  put them in PATH, so try to run `java` and `javac` to see if it is correctly set.

[2018-09-12 11:41] rastko-florencehc commented on #198
@tngan Would you consider this change if I make a PR with this update?

[2018-09-13 08:53] rastko-florencehc commented on #198
@tngan I understand that... It's a bit of a limbo place between RFC document and libxml2 bad implementation. This will brake for anyone 'lucky' enough to have X509 serial number long enough.

[2018-09-17 20:58] vinhtran-nwl opened #204 "Error: spawn java ENOENT"
Hello,

Not sure if anyone else has had this issue but i've got a pretty interesting problem. I was able to get samlify working great on my local running OS X and I started deploying this to a test server on Centos 7.

On the Centos 7 server, I'm able to get the site Set up but when I do a SAML Post to the ACS url I get the following error

      throw er; // Unhandled 'error' event
      ^

Error

[2018-09-18 21:08] nlfiedler commented on #201
In a related note, the generated JS code for 2.4.0-rc2 is missing the required tags altogether, and the customTagReplacement() is called with only the raw text, and no tags are given. Is that a build related bug?

[2018-09-18 21:22] nlfiedler opened #205 "`npm i samlify` installs old JS code for 2.4.0-rc2 release"
Just tried this and found that after running `npm i samlify`, the compiled JS code in the `build` directory appears to be out of date with the TS source. Is this a problem with the published package? Another thing I noticed is that the timestamps for many of the files are from 1985. Could that be related?

[2018-09-19 18:16] nlfiedler commented on #205
I should have mentioned the versions, in case it matters: Node.js LTS (8.12.0) and npm 6.4.1. Yarn is at 1.9.4. Everything installed using Homebrew on macOS. I've reproduced this on two systems.

[2018-09-21 18:48] tngan opened #206 "Refactor extractor with human readable constructor and apply absolute xpath"
Branch `206-refactor-extraction`

## Default extractor

- [x] Login request
- [x] Logout request
- [x] Login response
- [x] Logout response
- [x] Consumption in code base
- [x] Test suite
- [x] Extract it into a new module

## Proposal

**Login request**

[code]

**Login response**

[code]

**Logout Request**

[code]

**Logout response**

[code]

[2018-09-22 16:52] #206 closed

[2018-09-22 17:16] tngan opened #209 "Refactor the genericParser to be a new module called flow"
The current genericParser function is just an aggregator of different flows, it makes the codebase hard to read, it's a good time to refactor this function since the extractor is already being extracted.

- [x] Handling login request
- [x] Handling login response
- [x] Handling logout request
- [x] Handling logout response

[2018-09-23 07:41] #209 closed

[2018-09-25 00:32] tngan commented on #198
@rastko-florencehc After I reviewed some other 3rd party libraries, they have changed to use string in order to get rid of libxml2 limitation. It's also easy to make this change here rather than changing the implementation of CA.

So, feel free to make a PR.

[2018-09-25 00:46] tngan commented on #204
@vinhtran-nwl Please take a look on [how to install Java JRE in centos 7](https://www.digitalocean.com/community/tutorials/how-to-install-java-on-centos-and-fedora). If it's still not working, I need to setup the environment for testing later on.

[2018-09-25 00:47] tngan commented on #203
@pwilletts Any feedback ?

[2018-09-25 00:52] tngan commented on #198
@rastko-florencehc Thank you so much for suggesting this issue, this will be released in rc3.

[2018-09-25 00:52] #198 closed

[2018-09-25 05:02] tngan opened #212 "Better distribution structure and refine the typescript definition"

[2018-09-25 05:05] #182 closed

[2018-09-25 10:06] rastko-florencehc commented on #198
@tngan no problem! Thank you for accepting it!

[2018-09-25 14:17] tngan commented on #200
[code]

[2018-09-28 00:40] pwilletts commented on #203
Yes, was able to get it working.  the JDK was there, system wasn't able to see it.

[2018-09-28 00:40] #203 closed

[2018-09-28 00:56] pwilletts opened #213 "ERR_FAIL_TO_VERIFY_STE_SIGNATURE"
My app is configured as SP for our Okta IDP.  What does this message indicate?  Using a SAML extension in Chrome I able to see the SAML response.  My code is below.

[code]

[2018-09-28 02:11] tngan commented on #213
https://github.com/tngan/samlify/blob/e3f37c4fb52c961e8667ee50e0398d5e2d19ebf2/src/flow.ts#L164-L174

That means the signature verification is incorrect. If the response is signed then encrypted (optional), it will go through the above section. Firstly, it will perform a decryption (if has) before the above mentioned block, then it will perform the signature verification.

[2018-09-28 02:12] tngan commented on #205
Please try on the latest version v2.4.0-rc4, to see if it is being resolved.

[2018-09-28 02:19] #205 closed, assigned to nobody

[2018-09-30 03:19] leandrovieiras opened #214 "Is it impossible to use with angular?"
I really liked this project, but I can't use it with angular.
Is there a way to use it with angular?
How?

Thank you.

[2018-09-30 04:57] tngan commented on #214
@leandrovieiras Short answer is yes. One of our users has written a blog post about how to set up SAML based SSO with samlify and angular.js, you may want to take a look.

https://www.codeproject.com/Articles/1248145/How-to-use-SAML-in-an-Angular-JS-Single-Page-Appli

[2018-10-01 19:10] leandrovieiras commented on #214
@tngan
Thanks for reply! I tryed this tutorial but for my app, I have to redirect to SAML provider using TypeScript.
I saw #158 and tryed to implement as an example.

Here's my code:

login.component.ts

`
import { Component, OnInit, Inject } from '@angular/core';
import { Router, ActivatedRoute } from '@angular/router';
import { ServiceProvider } from 'samlify/src/entity-sp';
import { IdentityPro

[2018-10-02 00:48] tngan commented on #214
In fact, you don't need to construct yourself, you can just initialize the instance as a function.

[code]

Can you setup a sample repo ?

[2018-10-02 01:30] tngan commented on #111
Basic validations are completed for logout and login response, will continue to add more later on.

[2018-10-02 01:30] #111 closed

[2018-10-02 01:30] tngan commented on #213
@pwilletts Any feedback ?

[2018-10-02 01:31] tngan commented on #204
@vinhtran-nwl Any feedback ?

[2018-10-02 14:15] leandrovieiras commented on #214
I don't have a repo because I cant turn this project public.
But, how can I set my Identity XML an Service Provider XML in this solution?

[2018-10-02 16:40] tngan commented on #214
I mean you can create a sample angular app, and generate a sample metadata without your business secret.

`But, how can I set my Identity XML an Service Provider XML in this solution?`

I don't understand your question. Please explain further. Thanks.

[2018-10-06 03:59] tngan commented on #200
I have figured out why it happens. The validator library is not shipped with compiled class file, and the tests are running concurrently with ava. When `yarn test` is running, there is no compiled class file initially, therefore, for each test, it will spawn a `javac support/XMLValidator.java` command inside that library, so that the validator won't work at all.

[2018-10-06 06:12] #200 closed

[2018-10-07 03:13] tngan commented on #175
@slimm609 Any feedback on it ?

[2018-10-07 03:15] tngan commented on #129
I will close this issue since we have changed to delegate the xml schema validation to JAVA runtime library. Please feel free to reopen it or create a new ticket once you encounter issue with the latest approach.

[2018-10-07 03:15] #129 closed

[2018-10-07 03:42] #126 closed

[2018-10-07 09:37] tngan commented on #127
@jacqt Please try again with the latest samlify rc version, we have tackled a potential wrapping attack of response, and make the flow much more cleaner for debugging.

[2018-10-07 22:29] eugene1g opened #216 "Java dependency"
Hi,

After a brief code audit I think this library could become the most mature SAML implementation in NodeJS and was excited to try to integrate it into our projects. However, the lib currently depends on `javac`, which is a non-starter for many pure-JS/TS shops that try to keep libs/deployments small. Seems like a massive hammer to bring into the equation to do validation. Are there any plans to

[2018-10-09 17:57] eugene1g commented on #216
@tngan I applaud your professionalism - my comment could have easily been interpreted as "you're doing it wrong!", and you took it in the good spirit it was intended. Thank you.

Validating user inputs is critical for a secure system, _especially_ in the authentication layer. Validating the XML structure may seem futile or useless as it can't give an attack vector, but just last week there was a v

[2018-10-10 11:10] kksharma1618 opened #217 "Typescript errors when including samlify in a project using typescript itself"
Hey tngan,

Thanks for this project. We have been using it in production since express-samlify@1.2.3 (saml idp not sp). And it has been really helpful.
We are now migrating it to use the latest version. Our project is itself written in typescript and we are using samlify@2.4.0-rc5.
While compiling our code (tsc), we are facing following errors. Any help will be much appreciated.
[code]

[2018-10-10 12:16] tngan commented on #216
@eugene1g Thanks for your input. I will consider to make a reference for your approach in documentation later on.

[2018-10-10 12:16] #216 closed

[2018-10-11 08:52] eugene1g commented on #173
@juckerf @tngan Looks like the correct syntax to specify `NameIDPolicy` is to use one of the string keys as specified at https://github.com/tngan/samlify/blob/15db8b4cb2fc0cfadd074187adc8a11b14e7cc29/src/urn.ts%23L61 rather than using the `Constants` value. So this works:
[code]

[2018-10-11 18:11] leandrovieiras commented on #214
Hi @tngan.
After a lot of trying, It's working now!
Thanks fot your support!

[2018-10-11 18:11] #214 closed

[2018-10-15 11:08] radenui opened #218 "Invalid AuthnRequest XML ?"
First of all, thanks for your awesome lib !

I'm facing an issue here, when trying to authenticate against LemonLDAP server : it seems like the authnRequest is malformed...

Here is the generated request:
[code]
When I test this against this [online tool](https://www.samltool.com/validate_xml.php), it fails for 2 reasons:

- The attribute `Id` is not allowed int the `Issuer` Element
- The signatur

[2018-10-16 03:14] tngan opened #219 "Review the order of signed message and signed assertion"
We continue the discussion here @rastko-florencehc. Since the code base is updated, so I will use the new one in this discussion.

https://github.com/tngan/samlify/blob/15db8b4cb2fc0cfadd074187adc8a11b14e7cc29/src/libsaml.ts#L341-L357

Here, the implementation assumes the IdP to sign message first then sign assertion, so when we verify it, we verify assertion signature first then message signature

[2018-10-16 03:36] tngan commented on #218
For the `Issuer` element, I need to take a look on that.

The signature order can be configured with `signatureConfig` when you construct the service provider instance.

[code]

[2018-10-16 06:58] radenui commented on #218
Seems like the element being singed is Issuer: to reference it, xml-crypto
has to add the Id attribute.
Would it be possible in SAML spec to sign the whole payload ? The root
element already contains the Id attribute.
Le mar. 16 oct. 2018 à 05:36, Tony Ngan <notifications@github.com> a écrit :

[2018-10-16 13:13] radenui commented on #218
For the record:

I tried to define the scope of the signature with `AuthnRequest` instead of `Issuer` in the entity-sp file => the generated signature seems to be invalid:
[code]

I tried to generate a signature with [this tool](https://developers.onelogin.com/saml/online-tools/sign/authnrequest):

- the signed xml is valid with the same control
- the signature applies to the whole document (Refer

[2018-10-16 13:37] radenui commented on #218
XML to sign
[code]
Signed version (valid)
[code]

[2018-10-16 14:58] tngan commented on #218
@radenui I have fixed that issues, by setting correct xpath reference and adding back the default `signatureConfig`.

[2018-10-16 15:00] tngan commented on #218
@radenui I am also planning to include the schema validation to login and logout request. See https://github.com/tngan/samlify/issues/123.

[2018-10-16 16:17] tngan commented on #219
@rastko-florencehc Confirmed there is a problem in the test case for our IdP to generate the signature, so I didn't realize there is an issue in signature verification for signing both assertion and entire message.

[2018-10-16 17:28] tngan commented on #219
After tracing down the code for a while, the test case implementation has problem because of two reasons.

https://github.com/tngan/samlify/blob/b751ddc10cdc500d8102ba148975c7f65464ca28/test/flow.ts#L309-L323

#### 1. The callee `base64LoginResponse` from `createLoginResponse` signs message signature first then assertion signature, which should sign assertion signature first then entire message. H

[2018-10-16 17:40] tngan commented on #127
@jacqt @Ailsa84 These should be resolved finally via 4afbb10. Feel free to take a look for the code tracing detail in #219.

[2018-10-16 17:40] #127 closed

[2018-10-16 17:40] tngan commented on #219
We will schedule another rc release within this week.

[2018-10-16 17:40] #219 closed

[2018-10-16 17:41] #218 closed

[2018-10-16 17:46] tngan commented on #217
@kksharma1618 Interesting, let me take a look on it. I would also set up an example repo to start a simple server using typescript after this issue is being resolved.

[2018-10-17 04:54] kksharma1618 commented on #217
Thanks :)
Please let me know if I can help in anyway.

[2018-10-17 05:09] #123 closed

[2018-10-17 07:31] tngan commented on #217
@kksharma1618 Let me know what is your typescript version. I recommend to use local one instead of globally installation.

[2018-10-17 08:04] kksharma1618 commented on #217
We are using 3.1.3.
Locally installed.

[2018-10-17 08:14] rastko-florencehc commented on #219
@tngan Great! I'm glad this is resolved now. I'm only sorry I haven't seen this message yesterday I could've save you some debugging time since I found exact same thing!

[2018-10-17 13:53] pavb74 opened #220 "AuthnRequest Signature Invalid"
Hi,

Version: v2.4.0-rc6
My IDP rejects my authentication requests because of an invalid signature.
It checks the presence of the enveloped-signature algorithm in the transformer list and fails if it is not found. The AuthNRequest generated by the last version only contains transformer xml-exc-c14n (default value of xml-crypto)

Is there a way to specify the transformer list used for the generatio

[2018-10-17 15:29] tngan commented on #220
@pavb74 Are you using redirect binding or post binding to send your request ?

[2018-10-17 15:52] tngan commented on #220
@pavb74 I want to make sure the signature process is correct because I am not sure whether the default list is not covered in your current IDP or the signature construction has problem, that's why I need to confirm with your current implementation.

Meanwhile, I consider the customization of transformation algorithm list as a new feature, you can take a look on my latest commit. The transformation

[2018-10-18 08:07] pavb74 commented on #220
@tngan Thanks for your answer

Sorry for the AuthnRequest it is the one performed with the rc5
[code]

[2018-10-18 08:09] pavb74 commented on #220
@tngan I am using POST binding

[2018-10-18 08:16] pavb74 commented on #220
@tngan I looked at your last commit but it won't help in my case.
The transformationAlgorithms are only used if the isMessageSigned parameter of the constructSAMLSignature method is true. But this parameter is always false for login requests (method base64LoginRequest)

[2018-10-18 08:34] pavb74 opened #221 "Use only IdP WantAuthnRequestsSigned to enable AuthNRequest signature"
Hi

I am currently implementing a service which use different Idp to automatically logged the users depending of their domain or origin. These Idp have different requirements on the request signatures.

Currently it is not possible because we check the consistency of the Idp and sp metadata and I don't want to manage multiple metadata for my sp.

method: createLoginRequest
[code]

To bypass this c

[2018-10-18 09:07] tngan commented on #220
@pavb74 Oh, you are right, I will fix it.

[2018-10-18 09:51] laimikko1 opened #222 "Using parseLoginResponse leads to typeError"
We are using Samlify as an SP and authenticating using a 3rd party idp solution.

At first I tried to set up our SP and idp as advised in the documentation

[code]
and idp using the metadata, returned to us by the WAYF/DS service that our idp provider uses

[code]
This worked pretty far, as I was able to redirect our login request from our 3rd party WAYF/DS to the test idp login service, managed t

[2018-10-18 09:59] pavb74 commented on #220
@tngan Thanks a lot for this fix and for this awesome lib

[2018-10-18 16:37] tngan commented on #222
@laimikko1 After a quick review, there are mainly two problems.

When you construct the IdP, please also set `isAssertionEncrypted` to be true.
I have found there is a mistake in the implementation. The `use` in `KeyDescriptor` node should be optional mentioned in the specification, but here I implement it to be required, since the one in your IdP metadata doesn't contain the `use` property, so th

[2018-10-19 04:49] tngan commented on #220
I will close it now. The new rc release will be done during weekend.

[2018-10-19 04:49] #220 closed

[2018-10-19 16:33] tngan commented on #221
@pavb74 I would say the original design of entity constructor is a little bit of overkilling. I also keep rethinking if there is a way to simplify the flow, and make it more clear and easy to use.

[2018-10-20 11:39] tngan commented on #222
The latest version should support the certificate declaration with/without declaring `use`.

[2018-10-20 11:42] tngan commented on #217
@kksharma1618 Please take a look on the newly added example repository. https://github.com/passify/react-samlify/

[2018-10-20 14:47] tngan commented on #158
Please checkout our latest example repository. [react-samlify](https://github.com/passify/react-samlify)

[2018-10-20 14:47] #158 closed

[2018-10-20 14:47] #178 closed

[2018-10-23 11:34] laimikko1 commented on #222
Thanks for the response and patch.
There were few errors on my end that caused issues.

1) The nameIDPolicy wasn't correctly configured, so the SAML response was in error state due to it. I added the following to SP

[code]
and it now returns a valid response.

2) Our idp signs the response and assertion and also encrypts the assertion. I followed the documentation and added

[code]
Idp also expec

[2018-10-23 15:05] rastko-florencehc commented on #219
@tngan correct me if I'm wrong, but rc-6 now contains fixes for this problem?

[2018-10-23 16:12] tngan commented on #222
@laimikko1 You may need to define `messageSigningOrder: 'sign-then-encrypt'` in your idp setting as well. Seems like the default value is taken out for some reasons, can check if it works first.

[2018-10-23 16:22] tngan commented on #222
Ignore my above mentioned comment, the default value is still there.

[2018-10-23 16:40] tngan commented on #222
@laimikko1 I think I may know the problem. I want to make sure if your assertion is signed before the assertion encryption.

In order to get the highest level of data integrity check, IDP signs the assertion first, the next step is to encrypt the assertion, then finally signs the entire message.

By default, the `messageSigningOrder` is `sign-then-encrypt`. Therefore, the parsing process is revers

[2018-10-25 10:30] kksharma1618 commented on #217
That example compiles fine on my system.
Trying samlify@2.4.0 and changing following line
[code]
by
[code]
got rid of all typescript errors. Thank you!

Sorry about this sidebar, but we are using your samlidp in production for a heavy traffic app. I read in your doc that we shouldn't be using the idp part of this library. Should I look out for anything specific before migrating from 1.2.3 to 2.4.0

[2018-10-25 10:30] #217 closed

[2018-10-26 08:29] tngan commented on #217
@kksharma1618 Since we haven't restricted too much in idp side, and there are a lot of paid alternatives in the market which are production ready and well-proved by other enterprises.

v2.4.0 contains an important security updates on sp side, so that's why we recommend user to upgrade it. But for IDP side, there are no much differences.

[2018-10-26 18:43] eugene1g opened #223 "Signed 'Response' must include the certificate?"
Hi,

My iDP provides signed responses, but the response body does not include the X509 certificate. I have their certificate in both the metadata file, and as an external PEM file, and would like to use it for verifying the signature.

In the current implementation, `postFlow` defines parameters to be used by `verifySignature` at https://github.com/tngan/samlify/blob/a70665489617acecd1f7f70ea61a79

[2018-10-27 13:54] tngan commented on #223
Hi @eugene1g, this check is for the use case (at least one of our uses has such use case) that IDP uses rolling certificates for signature, and the response would have signature with one of the certificates, so you can consider it's just a whitelist checking for such use case.

In fact, the signature specification is not under SAML standard but XML's one. I took some time to have a look at the RFC

[2018-10-30 19:44] eugene1g commented on #223
Thanks for the tip! It's a quick change so I plan to do a PR this weekend

[2018-10-31 05:41] tngan commented on #223
Sounds good.

[2018-11-02 17:49] kiejo opened #224 "Extreme slowdown after upgrading to version 2.4.0"
Hi,
I'm currently in the process of upgrading from version 2.3.7 to 2.4.0, but my SSO related tests now run in 16 seconds vs less than a second before. I saw that there were some large changes in the latest release and Java was added as a dependency, but is such an extreme slowdown expected or is there something I can do to fix it?

[2018-11-05 15:32] jonathanperret commented on #224
The Java dependency is a showstopper for us for deployment reasons. In any case, I doubt the performance of validation can improve much considering you're spawning an external process to process each SAML login.

Maybe something like https://www.npmjs.com/package/cxsd (or anything that generates plain JS from XSD) could be worth investigating?

[2018-11-05 15:38] D-32 commented on #224
@jonathanperret the Java dependency was a problem for me too, although it was just javac (compiler) that isn't available on my server. If you can run `java`, just not `javac`, using my fork might help. I basically just provide a compiled variant of the java code inside node-xsd-schema-validator (also had to fork that repo).

[2018-11-05 15:40] jonathanperret commented on #224
@D-32 It's true that the first block we encountered was the lack of `javac` in our CI environment, so your approach does work around that issue. But the requirement for `java` is still very annoying, and  the performance issue is a blocker for us.

[2018-11-05 17:38] kiejo commented on #224
Thanks @jonathanperret for providing more context. It definitely sounds like `spawning an external process to process each SAML login` is what's causing the performance degradation.

Making the validation process pluggable sounds like it could help solve the performance issue if it enables users to use `libxmljs` as before.

Overall I'm not sure if having such bad performance is a good default for

[2018-11-05 17:41] tngan commented on #224
@kiejo You may also want to checkout this discussion thread. https://github.com/tngan/samlify/issues/216

[2018-11-07 02:15] securityvoid opened #225 "Signature length not correct: got 257 but was expecting 256"
Hello, I'm getting the following error message from my IdP when its processing the signed AuthnRequest generated from Samlify on the Service Provider.

``` Signature length not correct: got 257 but was expecting 256 ```

This is an example AuthnRequest:

[code]
If you take a look at the signature, it does in fact appear to have a length of 257 instead of 256.

Interestingly, we have three environm

[2018-11-09 10:48] rastko-florencehc opened #226 "Typescript dependency"
Is there any particular reason why typescript is not listed in dev dependencies? No need to load the entire typescript in non-dev environment?

[2018-11-13 07:32] laimikko1 commented on #222
It works now. The mistake was on my end as I thought our idp provider implemented 'sign-then-encrypt' instead of 'encrypt-then-sign'.

Another issue I ran into was that our idp doesn't set
[code]
attribute in it's metadata, but still expects authnrequests to be signed. I couldn't get Samlify to recognize that the requests must be signed by modifying idp entitySettings, so I bypassed it by adding t

[2018-11-13 11:20] jonathanperret commented on #226
I agree, likewise with the `@types/*` dependencies.

[2018-11-13 12:31] jonathanperret opened #227 "Published 2.4.0 package includes unwanted files"
I believe these files weren't meant to be published:

[code]

There's also a 3.6MB `docs/_media/bg.jpg` that you way want to keep out of the package.

FYI, removing `yarn*`, `.nyc_output/*` and `docs/_media` takes the package archive down from 4MB to 110KB.

[2018-11-13 12:34] tngan commented on #227
Thanks for catching this. I will add it into .npmignore and ignore those files while releasing. You can expect a patch will be released within the next couple hours.